<form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Welcome back to MuniVendor!</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <h3 class="full-width">Please provide the email address associated with your account, and we'll send you
                a one-time link to reset your password.</h3>
            <div class="center-text">
                <mat-form-field class="full-width">
                    <mat-label>Email</mat-label>
                    <input matInput type="text" formControlName="email" placeholder="Enter your email">
                    <mat-error *ngIf="forgotPasswordForm.get('email')?.hasError('required')">
                        Email is required.
                    </mat-error>
                    <mat-error *ngIf="forgotPasswordForm.get('email')?.hasError('email')">
                        Invalid email format.
                    </mat-error>
                    <mat-error *ngIf="forgotPasswordForm.get('email')?.hasError('pattern')">
                        Please enter a valid email address.
                    </mat-error>
                </mat-form-field>

                <button style="margin-bottom: 1rem;" class="full-width" mat-raised-button color="primary" type="submit"
                    [disabled]="forgotPasswordForm.invalid">Submit</button>

                <a [routerLink]="['/login']">Go Back</a>
            </div>
        </mat-card-content>
    </mat-card>
</form>