.full-width {
    width: 100%;
    max-width: 400px;
  }
  
  .center-text {
    text-align: center;
  }
   
  mat-card {
    padding: 2rem;
  }
  
  mat-card-title {
    font-size: 1.5rem;
    padding-bottom: 1rem;
  }
  
  mat-card-header {
    display: flex;
    justify-content: center;
  }
  
  mat-card-title {
    text-align: center;
    width: 100%;
  }
  
  mat-card-actions > * {
    margin-bottom: 10px;
  }
  
  
  