<h2 mat-dialog-title>Submit?</h2>
<mat-dialog-content>
  <p>Clicking Submit below will submit this offer to the Agency. Once offers are submitted, they cannot be withdrawn
    (just as if you had mailed or hand delivered the offer to the Agency).</p>
  <p>This submission will use one prepaid submission credit if available. If no credits remain, then your account will
    be charged $39.</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button color="primary" (click)="cancel()">Do Not Submit</button>
  <button mat-raised-button color="primary" (click)="confirm()">Submit</button>
</mat-dialog-actions>