<h2 mat-dialog-title>Submit?</h2>
<mat-dialog-content>
  <p>
    Clicking Submit below will submit this offer to the Agency. Once offers are
    submitted, they cannot be withdrawn (just as if you had mailed or hand
    delivered the offer to the Agency).
  </p>
  <p>
    This submission will use one submission credit, if available. If no credits
    remain, then you will be prompted to purchase additional submission credits.
  </p>
  <p>
    If an addendum for this solicitation was issued, and you are resubmitting
    your offer to include additional content resulting from the issued addendum,
    then you will not be charged an additional submission credit for this
    submission.
  </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button color="primary" (click)="cancel()">Do Not Submit</button>
  <button mat-raised-button color="primary" (click)="confirm()">Submit</button>
</mat-dialog-actions>
