<mat-stepper [linear]="true" #stepper (selectionChange)="onStepChange($event)">
  <mat-step label="Basics">
    <ng-template matStepContent>
      <response-basic
        #step1
        [sourceIdParam]="sourceIdParam"
        [responseIdParam]="responseIdParam"
        (formValidityChange)="onFormValidityChange($event)"
      ></response-basic>
      <div>
        <button
          mat-raised-button
          matStepperNext
          (click)="saveResponse()"
          [disabled]="!isStepValid"
          color="primary"
          style="float: right"
        >
          Next
        </button>
      </div>
    </ng-template>
  </mat-step>

  <mat-step label="Details">
    <ng-template matStepContent>
      <div class="response-stepper-button-container">
        <button
          mat-raised-button
          matStepperPrevious
          color="primary"
          style="margin-right: 8px"
        >
          Back
        </button>
        <button mat-raised-button matStepperNext color="primary">Next</button>
      </div>
      <response-details
        #step2
        [sourceIdParam]="sourceIdParam"
        [responseIdParam]="responseIdParam"
      ></response-details>
      <!-- parameter for response-details (autoFillStatusChange)="onAutoFillStatusChange($event)" -->
      <div class="response-stepper-button-container">
        <button
          mat-raised-button
          matStepperPrevious
          color="primary"
          style="margin-right: 8px"
        >
          Back
        </button>
        <!-- <button mat-raised-button matStepperNext [disabled]="!isAutoFillComplete" color="primary">
          Next
        </button> -->
        <button mat-raised-button matStepperNext color="primary">Next</button>
      </div>
    </ng-template>
  </mat-step>

  <mat-step label="Documents">
    <ng-template matStepContent>
      <div class="response-stepper-button-container">
        <button
          mat-raised-button
          matStepperPrevious
          color="primary"
          style="margin-right: 8px"
        >
          Back
        </button>
        <button mat-raised-button matStepperNext color="primary">Next</button>
      </div>
      <response-documents
        [responseIdParam]="responseIdParam"
      ></response-documents>
      <div class="response-stepper-button-container">
        <button
          mat-raised-button
          matStepperPrevious
          color="primary"
          style="margin-right: 8px"
        >
          Back
        </button>
        <button mat-raised-button matStepperNext color="primary">Next</button>
      </div>
    </ng-template>
  </mat-step>

  <!-- <mat-step label="Notarization Scheduler">
    <ng-template matStepContent>
      <response-notarization
        [sourceIdParam]="sourceIdParam"
        [responseIdParam]="responseIdParam"
      ></response-notarization>
      <div>
        <button mat-raised-button matStepperPrevious>Back</button>
        <button mat-raised-button matStepperNext>Next</button>
      </div>
    </ng-template>
  </mat-step> -->

  <mat-step label="Review">
    <ng-template matStepContent>
      <div style="display: flex" class="response-stepper-button-container">
        <button
          mat-raised-button
          matStepperPrevious
          color="primary"
          style="margin-right: 8px"
        >
          Back
        </button>
        <div style="display: flex; align-items: center; gap: 4px">
          <button
            mat-raised-button
            matStepperNext
            (click)="onSubmitOfferorResponse()"
            color="primary"
            [disabled]="!allRequiredDocumentsUploaded"
          >
            Submit
          </button>
          <mat-icon
            *ngIf="!allRequiredDocumentsUploaded"
            style="font-size: medium; color: #0b74fd; cursor: pointer"
            [appTooltip]="{
              header: 'Incomplete',
              body: 'You cannot yet submit your completed offer (submission packet), because there are forms that you still need to upload. Please look above to see which files you still need to upload before submitting your completed offer to the Agency.',
              actionLabel: 'Offeror Profile Page',
              onAction: goToOfferorProfilePage,
              width: '350px',
              transformStyle: 'translate(-103%, -75%)'
            }"
          >
            info_outline
          </mat-icon>
        </div>
      </div>
      <response-review
        [sourceIdParam]="sourceIdParam"
        [responseIdParam]="responseIdParam"
        (documentsValidityChange)="onDocumentsValidityChange($event)"
      ></response-review>
      <div style="display: flex" class="response-stepper-button-container">
        <button
          mat-raised-button
          matStepperPrevious
          color="primary"
          style="margin-right: 8px"
        >
          Back
        </button>
        <div style="display: flex; align-items: center; gap: 4px">
          <button
            mat-raised-button
            matStepperNext
            (click)="onSubmitOfferorResponse()"
            color="primary"
            [disabled]="!allRequiredDocumentsUploaded"
          >
            Submit
          </button>
          <mat-icon
            *ngIf="!allRequiredDocumentsUploaded"
            style="font-size: medium; color: #0b74fd; cursor: pointer"
            [appTooltip]="{
              header: 'Incomplete',
              body: 'You cannot yet submit your completed offer (submission packet), because there are forms that you still need to upload. Please look above to see which files you still need to upload before submitting your completed offer to the Agency.',
              actionLabel: 'Offeror Profile Page',
              onAction: goToOfferorProfilePage,
              width: '350px',
              transformStyle: 'translate(-103%, -75%)'
            }"
          >
            info_outline
          </mat-icon>
        </div>
      </div>
    </ng-template>
  </mat-step>
</mat-stepper>
