<mat-stepper [linear]="false" #stepper>
  <mat-step label="Basics">
    <response-basic #step1 [requestId]="requestId" [idParam]="idParam" (formValidityChange)="isStepValid = $event"></response-basic>
    <div>
      <button mat-button (click)="save()" matStepperNext [disabled]="!isStepValid">Next</button>
    </div>
  </mat-step>

  <mat-step label="Details">
    <response-details #step2 [requestId]="requestId" (formValidityChange)="isStepValid = $event"></response-details>
    <div>
      <button type="Submit" mat-button matStepperPrevious>Back</button>
      <button type="Submit" mat-button matStepperNext>Next</button>
    </div>

  </mat-step>

  <mat-step label="Documents">
    <response-documents [requestId]="requestId"></response-documents>
    <div>
      <button type="Submit" mat-button matStepperPrevious>Back</button>
      <button type="Submit" mat-button matStepperNext (click)="save()">Next</button>
    </div>

  </mat-step>

<!--   <mat-step label="Review">
    <request-review [requestId]="requestId"></request-review>
    <div>
      <button type="Submit" mat-button matStepperPrevious>Back</button>
      <button type="Submit" mat-button matStepperNext (click)="updateRequestStatusToScheduled()">Submit</button>
    </div>
  </mat-step> -->
</mat-stepper>