<div>
  <!-- <div style="float: right; margin-top: 8px">
    <button mat-flat-button color="primary" (click)="downloadPDF()">
      Download Solicitation
    </button>
  </div> -->
  <button mat-raised-button color="primary" (click)="downloadPDFv2()">
    Download as PDF
  </button>
  <div class="content">
    <div *ngFor="let section of requestSections">
      <h2>{{ section.requestSectionTitle }}</h2>
      <div
        [innerHTML]="section.requestSectionContent"
        class="content-display"
      ></div>
    </div>
  </div>
</div>
