.request-card {
  margin: 20px;
  padding: 20px;
}

table {
  width: 100%;
}

.mat-column-formName {
  width: 30%;
}

.mat-column-fileActions {
  width: 15%;
}

.mat-column-downloadForm,
.mat-column-uploadForm {
  width: 10%;
  text-align: center;
}

.mat-column-documentInstanceStatus {
  width: 15%;
}

.mat-column-uploadResponse,
.mat-column-continue {
  width: 12.5%;
  text-align: center;
}

button[mat-raised-button] {
  margin: 5px;
}
