<mat-card *ngIf="request" class="request-card">
    <mat-card-content>
      <p><strong>Category:</strong> {{ request.category }}</p>
     <!-- <p><strong>Subcategories:</strong> {{ request.subcategories?.join(', ') }}</p>-->
      <p><strong>Request Type:</strong> {{ request.requestType?.requestTypeDesc }}</p>
      <p><strong>Publish Date:</strong> {{ request.publishDate }} at {{ request.publishTime }}</p>
      <p><strong>Open Date:</strong> {{ request.openDate }} at {{ request.openTime }}</p>
      <p><strong>Contract Term:</strong> {{ request.contractStart }} to {{ request.contractEnd }} </p>
    </mat-card-content>
  </mat-card>
  
  <form [formGroup]="responseForm">
    <mat-form-field appearance="fill">
      <mat-label>Name of Response</mat-label>
      <input matInput formControlName="responseName" placeholder="Enter Response Name"/>
      <mat-icon matSuffix matTooltip="Please create a name for your response to this request.">info</mat-icon>
      <mat-error *ngIf="responseForm.get('responseName')?.hasError('required')">
        This field is required.
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="onContinue()" [disabled]="responseForm.invalid">
      Continue
    </button>
  </form>