<div>
  <ng-template matStepLabel>Basics</ng-template>
  <h1>Offeror Response to Agency Request</h1>
  <h2>Agency Section</h2>
  <form [formGroup]="requestForm" *ngIf="requestForm">
    <div class="field-container">
      <div class="inline-field">
        <p>Agency Request Title</p>
        <mat-form-field appearance="fill" class="input-width">
          <mat-label>Agency Request Title</mat-label>
          <input matInput formControlName="requestName" [readonly]="true" />
        </mat-form-field>
      </div>
    </div>

    <div *ngIf="requestForm">
      <div class="field-container">
        <div class="inline-field">
          <p>Request Category</p>
          <mat-form-field appearance="fill" class="input-width">
            <mat-label>Request Category</mat-label>
            <input matInput formControlName="requestCategory" />
          </mat-form-field>
        </div>

        <div class="inline-field">
          <p>Request Type</p>
          <mat-form-field appearance="fill" class="input-width">
            <mat-label>Request Type</mat-label>
            <input matInput formControlName="requestType" />
          </mat-form-field>
        </div>
      </div>

      <div class="field-container">
        <div class="inline-field">
          <p>Publish Date and Time</p>
          <mat-form-field appearance="fill" class="input-width">
            <mat-label>Publish Date and Time</mat-label>
            <input matInput formControlName="publishDateAndTime" />
          </mat-form-field>
        </div>

        <div class="inline-field">
          <p>Open Date and Time</p>
          <mat-form-field appearance="fill" class="input-width">
            <mat-label>Open Date and Time</mat-label>
            <input matInput formControlName="openDateAndTime" />
          </mat-form-field>
        </div>
      </div>

      <div class="field-container">
        <div class="inline-field">
          <p>Contract Start Date</p>
          <mat-form-field appearance="fill" class="input-width">
            <mat-label>Contract Start Date</mat-label>
            <input matInput formControlName="contractStartDate" />
          </mat-form-field>
        </div>

        <div class="inline-field">
          <p>Contract End Date</p>
          <mat-form-field appearance="fill" class="input-width">
            <mat-label>Contract End Date</mat-label>
            <input matInput formControlName="contractEndDate" />
          </mat-form-field>
        </div>
      </div>
    </div>
  </form>

  <form [formGroup]="responseForm">
    <h2>Offeror Section</h2>
    <div class="field-container">
      <div class="inline-field">
        <p>Offeror Response Title (the name of your response)</p>
        <mat-form-field appearance="fill" class="input-width">
          <mat-label>Offeror Response Title</mat-label>
          <input matInput formControlName="responseName" placeholder="Enter Response Name" />
          <mat-error *ngIf="responseForm.get('responseName')?.hasError('required')">
            This field is required.
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="field-container">
      <div class="inline-field">
        <div style="display: flex; align-items: center; gap: 4px;">
          <span>Authorizing official for this offer.</span>

          <mat-icon style="font-size: medium; color: #0B74FD; cursor: pointer;" [appTooltip]="{
           header: 'Required',
           body: 'Please designate an authorizing official for this offer.',
           actionLabel: 'Vendor Profile Page',
           onAction: goToOfferorProfilePage,
           width: '320px',
           }">
            info_outline
          </mat-icon>

        </div>
        <mat-form-field appearance="fill" class="input-width">
          <mat-label>Authorizing Official</mat-label>
          <input matInput formControlName="authorizingOfficial" />
          <mat-error *ngIf="responseForm.get('authorizingOfficial')?.hasError('required')">
            This field is required.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="inline-field"></div>
    </div>
  </form>