<h2>Agency Required Forms and Documents</h2>
<table mat-table [dataSource]="requiredDocumentsDatasource" class="mat-elevation-z8">
  <ng-container matColumnDef="formName">
    <th mat-header-cell *matHeaderCellDef>Form Name</th>
    <td mat-cell *matCellDef="let row">
      {{ row.documentName }}
    </td>
  </ng-container>

  <ng-container matColumnDef="notarizationRequired">
    <th mat-header-cell *matHeaderCellDef>Notarization Required</th>
    <td mat-cell *matCellDef="let row">
      {{ row.notarizationRequired ? 'Yes' : 'No' }}
    </td>
  </ng-container>

  <ng-container matColumnDef="download">
    <th mat-header-cell *matHeaderCellDef>Download</th>
    <td mat-cell *matCellDef="let row">
      <button mat-icon-button color="primary" (click)="onDownloadRequiredAgencyDocuments(row)">
        <mat-icon>download</mat-icon>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="upload">
    <th mat-header-cell *matHeaderCellDef>Upload</th>
    <td mat-cell *matCellDef="let row">
      <button mat-icon-button (click)="onUploadClick(row)">
        <mat-icon>upload</mat-icon>
      </button>
    </td>
</ng-container>

<!-- Hidden file input - place this somewhere in your template -->
<input #fileInput type="file" style="display: none;" (change)="onFileSelected($event)" accept=".pdf,.doc,.docx,.txt">

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef>Status</th>
    <td mat-cell *matCellDef="let row">
      {{ row.documentStatus }}
      <span *ngIf="row.documentStatus === 'Incomplete'" matTooltip="{{ row.missingItems }}"></span>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="agencyDocumentsColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: agencyDocumentsColumns;"></tr>
</table>

<br />

<h2>Offeror Uploads <span style="font-size: 16px; font-weight: normal;">(Upload your response here. Include items such as your proposal, brochures, and any other offer-specific documents that are relevant to this opportunity.)</span></h2>
<form [formGroup]="responseDocumentsFormGroup">
  <div *ngIf="offerorOptionalDocuments.length > 0; else noOfferorOptionalDocuments">
    <table mat-table [dataSource]="offerorDocumentsDatasource" class="mat-elevation-z8">
      <ng-container matColumnDef="formName">
        <th mat-header-cell *matHeaderCellDef>Form Name</th>
        <td mat-cell *matCellDef="let row">
          {{ row.documentName }}
        </td>
      </ng-container>

      <ng-container matColumnDef="download">
        <th mat-header-cell *matHeaderCellDef>Download</th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button color="primary" (click)="onDownloadOfferorDocument(row)">
            <mat-icon>download</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button color="primary" (click)="deleteForm(row.documentId)" >
            <mat-icon color="warn">delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="offerorDocumentsColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: offerorDocumentsColumns;"></tr>
    </table>
  </div>

  <ng-template #noOfferorOptionalDocuments>
    <p style="margin-top: 1rem;">
      Upload documents you would like to be added for this bid.
    </p>
  </ng-template>
<br/>
  <button mat-raised-button color="primary" type="button"
    (click)="openFileUploadDialog(+(responseIdParam ?? responseIdFromStateService ?? 0))">
    Add
  </button>
</form>
<br />