<b>Offerors may choose one of the following notarization options.</b>
<p>(1) Offerors may upload scanned copies of in-person notarized documents.</p>
<p>
  (2) Offerors may upload digitally notarized documents using a digital notary
  service.
</p>
<p>(3) Offerors may use MuniVendor’s digital notary service.</p>

<div style="display: inline">
  <div class="booking-wrapper">
    <div class="calendar-section">
      <div>
        <b>Available Dates for Notary</b>
        <span>(Only available dates are shown)</span>
      </div>
      <br />
      <mat-card class="calendar-container">
        <mat-calendar
          *ngIf="isBlockedDatesLoaded"
          [(selected)]="selectedDate"
          (selectedChange)="onDateChange($event)"
          [dateFilter]="myFilter"
        >
        </mat-calendar>
      </mat-card>
    </div>

    <div class="time-section">
      <b>Date Selected: {{ selectedDate | date : "fullDate" }}</b>
      <br />
      <br />
      <div class="slot-scroll" *ngIf="selectedDate">
        <button
          mat-button
          *ngFor="let availableTimeSlot of availableTimeSlots"
          [color]="selectedTime === availableTimeSlot.display ? 'primary' : ''"
          class="time-slot-btn"
          (click)="selectTime(availableTimeSlot.display)"
        >
          {{ availableTimeSlot.display }}
        </button>
      </div>

      <div class="confirm-container">
        <button
          mat-raised-button
          color="primary"
          class="fade-in"
          [disabled]="!selectedTime"
          (click)="confirmSelection()"
        >
          Confirm
        </button>
      </div>
    </div>
  </div>
</div>
<br />
