<div>
  <ng-template matStepLabel>Basics</ng-template>
  <h1>Offeror Response to Agency Solicitation</h1>
  <form [formGroup]="responseForm">
    <h2>Offeror Section</h2>
    <div class="field-container">
      <div class="inline-field">
        <p>Offeror Response Title (the name of your response)</p>
        <mat-form-field appearance="fill" class="input-width">
          <mat-label>Offeror Response Title</mat-label>
          <input
            matInput
            formControlName="responseName"
            placeholder="Enter Response Title"
          />
          <mat-error
            *ngIf="responseForm.get('responseName')?.hasError('required')"
          >
            Offeror response title is required.
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="field-container">
      <div class="inline-field">
        <div style="display: flex; align-items: center; gap: 4px">
          <span>Authorizing official for this offer.</span>

          <mat-icon
            style="font-size: medium; color: #0b74fd; cursor: pointer"
            [appTooltip]="authorizingOfficialTooltip"
          >
            info_outline
          </mat-icon>
        </div>
        <mat-form-field appearance="fill" class="input-width">
          <mat-label>Authorizing Official</mat-label>
          <mat-select
            formControlName="authorizingOfficial"
            (selectionChange)="onAuthorizingOfficialChange($event.value)"
          >
            <mat-option
              *ngFor="let authorizingOfficial of authorizingOfficials"
              [value]="authorizingOfficial.offerorAuthorizingOfficialId"
            >
              {{ authorizingOfficial.firstName }}
              {{ authorizingOfficial.lastName }}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="
              responseForm.get('authorizingOfficial')?.hasError('required')
            "
          >
            Authorizing official is required.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="inline-field"></div>
    </div>
  </form>

  <form [formGroup]="requestForm" *ngIf="requestForm">
    <h2>Agency Section</h2>
    <div class="field-container">
      <div class="inline-field">
        <p>Agency Solicitation Title</p>
        <mat-form-field appearance="fill" class="input-width">
          <mat-label>Agency Solicitation Title</mat-label>
          <input matInput formControlName="requestName" [readonly]="true" />
        </mat-form-field>
      </div>
    </div>

    <div *ngIf="requestForm">
      <div class="field-container">
        <div class="inline-field">
          <p>Solicitation Category</p>
          <mat-form-field appearance="fill" class="input-width">
            <mat-label>Solicitation Category</mat-label>
            <input matInput formControlName="requestCategory" readonly />
          </mat-form-field>
        </div>

        <div class="inline-field">
          <p>Solicitation Type</p>
          <mat-form-field appearance="fill" class="input-width">
            <mat-label>Solicitation Type</mat-label>
            <input matInput formControlName="requestType" />
          </mat-form-field>
        </div>
      </div>

      <div class="field-container">
        <div class="inline-field">
          <p>Publish Date and Time</p>
          <mat-form-field appearance="fill" class="input-width">
            <mat-label>Publish Date and Time</mat-label>
            <input matInput formControlName="publishDateAndTime" />
          </mat-form-field>
        </div>

        <div class="inline-field">
          <p>Close Date and Time</p>
          <mat-form-field appearance="fill" class="input-width">
            <mat-label>Close Date and Time</mat-label>
            <input matInput formControlName="closeDateAndTime" />
          </mat-form-field>
        </div>
      </div>

      <div class="field-container">
        <div class="inline-field">
          <p>Contract Start Date</p>
          <mat-form-field appearance="fill" class="input-width">
            <mat-label>Contract Start Date</mat-label>
            <input matInput formControlName="contractStartDate" />
          </mat-form-field>
        </div>

        <div class="inline-field">
          <p>Contract End Date</p>
          <mat-form-field appearance="fill" class="input-width">
            <mat-label>Contract End Date</mat-label>
            <input matInput formControlName="contractEndDate" />
          </mat-form-field>
        </div>
      </div>
    </div>
  </form>
</div>
