<h1>Definitions</h1>
<h2>Agency</h2>
<h3>This is the government entity issuing the solicitation.</h3>

<h2>Agency MuniVendor User</h2>
<h3>
  These are team members from the government agency who actively utilize the
  MuniVendor platform to manage all the opportunities originating from the
  government agency. This almost always includes the Qualified Purchasing Agent
  and other members of the Purchasing Department. In some cases, it may also
  include the Business Administrator, and/or other team members who are actively
  involved in writing and preparing the opportunity before publication.
</h3>

<h2>Authorizing Official</h2>
<h3>
  This is the person, employed by the Offeror’s company, who has the authority
  to submit offers on behalf of the Offeror’s company. Please note that the
  version of MuniVendor currently in use only permits one authorizing official.
  Multiple authorizing officials for offerors is a feature that MuniVendor plans
  to launch in February 2026.
</h3>

<h2>Contractor</h2>
<h3>Upon executing a contract, a successful offeror becomes a contractor.</h3>

<h2>Decision Makers</h2>
<h3>
  These are team members from the government agency who make decisions
  pertaining to offers (submitted responses) from offerors (prospective
  vendors). Such decision makers may include, for example, the Mayor, Business
  Administrator, Councilmembers, Department Heads, and other personnel assigned
  to a decision making committee. Decision Makers do not ever log into the
  MuniVendor platform. Instead, they receive an email with the full contents of
  the offer (submission package) for which they are decision makers when the
  agency’s QPA opens the offers.
</h3>

<h2>Offer</h2>
<h3>
  This is the completed submission of an offeror that contains all the content,
  forms, documents and certifications required in the agency’s solicitation
  specifications. This term replaces words such as “bids”, “responses”, and
  “proposals”.
</h3>

<h2>Offeror</h2>
<h3>
  The entity submitting a response to the solicitation. This word replaces the
  words organization, company, bidders, proposers, vendors, contactors, and
  respondents.
</h3>

<h2>Offeror MuniVendor User</h2>
<h3>
  These are team members from the offeror’s company who actively utilize the
  MuniVendor platform to create, manage and submit offers to the government
  agency. Please note that the version of MuniVendor currently in use only
  permits one user. Multiple users/logins for offerors is a feature that
  MuniVendor plans to launch in February 2026.
</h3>

<h2>Solicitation</h2>
<h3>
  This is the formal publication by which an agency invites offerors to respond
  with an offer to provide goods and services to the agency. This term replaces
  phrases such as “request for bids”, “request for offers”, “request for
  proposals”, etc.
</h3>
