<mat-card>
  <mat-card-title>User Designations</mat-card-title>
  <mat-card-content>
    <p>Check off any designations if any that apply to you.</p>
    <form [formGroup]="designeeSelectionForm" (ngSubmit)="onSubmit()">
      <div formArrayName="selectedDesignees" class="checkbox-container">
        <mat-checkbox
          color="primary"
          *ngFor="let designation of designations; let i = index"
          [formControlName]="i"
          (change)="onCheckboxChange(i)"
        >
          {{ designation.designationDescription }}
        </mat-checkbox>
      </div>
      <br />
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!designeeSelectionForm.valid"
      >
        Continue
      </button>
    </form>
  </mat-card-content>
</mat-card>
