 
<div class="category-manager">
  <h1>Category Manager</h1>
  <div class="category-actions">
    <button mat-raised-button color="primary" (click)="openAddCategoryDialog()">Add Category</button>
    <button mat-raised-button color="warn" [disabled]="!selectedCategory" (click)="deleteCategory()">Delete Category</button>
  </div>
  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="category-tree">
    <!-- Expandable node template -->
    <mat-tree-node *matTreeNodeDef="let node; when: hasChild" (click)="selectCategory(node)" [class.selected]="node === selectedCategory">
      <li class="mat-tree-node">
        <div class="node-content">
          <button mat-icon-button matTreeNodeToggle (click)="$event.stopPropagation()">
            <mat-icon>
              {{ treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right' }}
            </mat-icon>
          </button>
          <span>{{ node.name }}</span>
        </div>
      </li>
    </mat-tree-node>

    <!-- Leaf node template -->
    <mat-tree-node *matTreeNodeDef="let node" (click)="selectCategory(node)" [class.selected]="node === selectedCategory">
      <li class="mat-tree-node">
        <div class="node-content">
          <button mat-icon-button disabled></button>
          <span>{{ node.name }}</span>
        </div>
      </li>
    </mat-tree-node>
  </mat-tree>
</div>
