<!-- <h2 mat-dialog-title>Bid Proposal Form</h2>

<mat-dialog-content>
    <p>
        To properly autofill the Bid Proposal Form, please fill in the following fields. If you do not know the answer,
        then you can skip this step for now, and come back to it later. Every time you refresh this page, the popup
        will reappear until the information has been filled out and saved.
        You can change the information at any time by clicking on the Bid Proposal Form hyperlink in the list of
        Agency forms, which will bring up this dialogue box.
    </p>
    <div class="field-container">
        <div class="inline-field">
            <p>Bid Amount in Words: For example, "Seventy Five Thousand Dollars per Year" or "Two Hundred Dollars per
                Hour".</p>
            <mat-form-field appearance="fill" style="width: 100%;">
                <mat-label>Bid Amount in Words</mat-label>
                <input matInput [(ngModel)]="bidAmountWords"
                    placeholder='e.g., "Seventy Five Thousand Dollars per Year" or "Two Hundred Dollars per Hour"'>
            </mat-form-field>
        </div>
    </div>

    <div class="field-container">
        <div class="inline-field">
            <p>Bid Amount in Numbers: For example, "$75,000/year" or "$200/hour". You do not need to insert the $
                symbol, Munivendor will enter that in automatically.</p>
            <mat-form-field appearance="fill" style="width: 100%;">
                <mat-label>Bid Amount in Numbers</mat-label>
                <input matInput [(ngModel)]="bidAmountNumbers" placeholder='e.g., "$75,000/year" or "$200/hour"' />
            </mat-form-field>
        </div>
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button color="primary" (click)="close()">Do This Later</button>
    <button mat-raised-button color="primary" (click)="save()">Save Changes</button>
</mat-dialog-actions> -->