<body>
  <div class="container">
    <div class="header-banner">
      <h1>MuniVendor eProcurement Portal Guide</h1>
    </div>

    <h1>Introduction</h1>
    <p>
      Welcome to the MuniVendor eProcurement portal. MuniVendor was developed to
      address the inadequacies and inefficiencies that currently plague the
      public procurement process specific to the State of New Jersey. It was
      developed in collaboration with New Jersey public procurement subject
      matter experts from both the public and private sector. MuniVendor's goal
      is to streamline the public procurement process in New Jersey, digitizing
      a once manual, paper-driven process that reduces submission time from
      hours to minutes.
    </p>

    <h1>Definitions</h1>
    <p>
      MuniVendor uses terminology that is consistent with New Jersey public
      procurement, and also employs new terminology that they plan to use. To
      that end, there are some terms that offerors may not be familiar with. For
      example, the term "offeror" replaces the words organization, company,
      bidders, proposers, vendors, contactors, and respondents. For a full list
      of terms and their definitions, please click on the Definitions tab in the
      menu.
    </p>

    <h1>Maintenance & Enhancements</h1>
    <p>
      MuniVendor employs a full time software development team, all who live in
      the State of New Jersey. We continue to consult with offerors and NJ
      public procurement experts to develop additional ways to reduce the time
      and costs associated with responding to solicitations from NJ government
      agencies. If you have an idea for a feature that you would like to see in
      MuniVendor, please let us know by visiting
      <a href="https://munivendor.com/contact" target="_blank"
        >https://munivendor.com/contact</a
      >.
    </p>

    <h1>The Dashboard</h1>
    <p>
      On the top portion of the dashboard, offerors may filter the available
      solicitations by:
    </p>
    <ul>
      <li>Solicitation name</li>
      <li>Category name</li>
      <li>Publication date</li>
      <li>Solicitation ID</li>
      <li>Close date</li>
      <li>Solicitation status</li>
      <li>Offeror status</li>
      <li>Solicitation type</li>
    </ul>

    <p>
      On the bottom part of the dashboard, offerors may view all the
      solicitations currently available through the government agencies using
      MuniVendor.
    </p>

    <h2>Dashboard Fields</h2>

    <h3>Solicitation Name</h3>
    <p>This is the name of the solicitation.</p>

    <h3>Agency Organization Name</h3>
    <p>The name of the government agency that published the solicitation.</p>

    <h3>Solicitation ID</h3>
    <p>
      This ID is provided so that offerors such as yourself can easily reference
      the specific solicitation if/when you communicate with the public agency,
      or with MuniVendor's technical support team.
    </p>

    <h3>Type</h3>
    <p>The type of solicitation.</p>

    <h3>Category</h3>
    <p>
      When government agencies publish solicitations on MuniVendor, they select
      the category of the solicitation. There is always a category assigned to
      each solicitation, and they may add additional sub-categories to the
      solicitation.
    </p>

    <h3>Publish Date & Time</h3>
    <p>This is when the solicitation is available to offerors on MuniVendor.</p>

    <h3>Close Date & Time</h3>
    <p>
      This is the deadline that offerors have to submit their offer. MuniVendor
      will not allow offerors to respond to any solicitation that has passed the
      close date and time, even if it is by one (1) second.
    </p>
    <div class="important">
      <strong>Important:</strong> If a solicitation's close date and time is
      December 10, 2025 at 11:00 AM, and the actual date and time is December
      10, 2025 and it is 11:00 AM, and one second has passed, the ability to
      submit the solicitation will have become disabled.
    </div>

    <h3>Offeror Status</h3>
    <p>
      This is the status of your offer (response) to the government agency's
      solicitation:
    </p>
    <ul>
      <li><strong>None</strong> - The offeror has not begun an offer.</li>
      <li>
        <strong>In Progress</strong> - The offeror has begun an offer, but has
        not yet submitted the offer.
      </li>
      <li>
        <strong>Submitted</strong> - The offeror has submitted the offer in
        response to the government agency's solicitation, and the government
        agency has received it. Remember, the government agency does not have
        the ability to view or download your offer until the status of the
        solicitation has changed from "Closed" to "Open".
      </li>
    </ul>

    <h3>Agency Status</h3>
    <p>This is the status of the solicitation itself:</p>
    <ul>
      <li><strong>Live</strong> - Offerors may respond to the solicitation.</li>
      <li>
        <strong>Closed</strong> - The close date for the solicitation is now in
        the past, and offerors may no longer respond to this solicitation.
      </li>
      <li>
        <strong>Open</strong> - The purchasing department of the government
        agency has changed the status from Closed to Open. This is a manual
        process (they only have to click a few buttons) that is performed during
        the opening, which generally happens shortly after the close date and
        time. Some government agencies will enable offerors to view the opening
        process in person, or virtually during a live screen-share. During this
        time, the government agency will publicly show which offerors responded
        to which solicitations.
      </li>
      <li>
        <strong>Cancelled</strong> - The government agency cancelled the
        solicitation before the close date and time was reached.
      </li>
    </ul>

    <div class="note">
      <strong>Note:</strong> It is important to note that just because a
      government agency has received and opened your solicitation, this does not
      mean that the offeror has been qualified, nor does this mean that the
      offeror will obtain a contract from their offer.
    </div>

    <h3>Actions</h3>
    <p>In this section, offerors can begin, edit and submit their offers:</p>
    <ul>
      <li>
        <strong>None</strong> - This means that no actions are available to the
        offeror. The status of None applies to solicitations that have either
        passed the close date and time, or have been cancelled by the government
        agency.
      </li>
      <li>
        <strong>Select</strong> - This means that there are actions available to
        the offeror.
        <ul>
          <li>
            <strong>Respond</strong> - Offerors should select this to begin
            their offer (response).
          </li>
          <li>
            <strong>Continue</strong> - Offerors who have begun an offer will
            see this option so that they can continue their offer if they did
            not already submit their offer to the government agency.
          </li>
          <li>
            <strong>Delete</strong> - Offerors may select this option when they
            began an offer, but then decide that they do not plan to submit an
            offer in response to the solicitation.
          </li>
        </ul>
      </li>
    </ul>

    <h1>Offeror Profile</h1>
    <p>
      Please make sure to fill out your offeror profile on the Offeror Profile
      page. This data is shared with the government agencies to which you submit
      your offers. Over time, MuniVendor will enable you to enter additional
      content.
    </p>

    <h2>Authorizing Official</h2>
    <p>
      This is the person, employed by the offeror's company, who has the
      authority to submit offers on behalf of the Offeror's company. When you
      create an offer to a government agency solicitation, you must select an
      Authorizing Official from a dropdown. That dropdown pulls its content from
      the Authorizing Official section in the Offeror Profile page, so make sure
      to fill it out before you begin your offer.
    </p>

    <h1>Creating, Editing & Submitting Offers</h1>
    <p>
      Offerors begin the offer response process by clicking on the Select button
      in the Actions row of the corresponding solicitation, and selecting
      Respond. If you have already begun an offer, and then come back to the
      dashboard to continue your offer, select Continue to continue your offer.
    </p>

    <div class="note">
      <strong>Note:</strong> The following is an explainer video we developed
      showing offerors how to respond to a government agency solicitation using
      MuniVendor. Clicking on this link will take you to that YouTube video.
      <a href="https://munivendor.com/offeror-response" target="_blank"
        >https://munivendor.com/offeror-response</a
      >.
    </div>

    <h2>Step 1 - Basics</h2>

    <h3>Agency Section</h3>
    <p>
      This section displays content entered by the government agency responsible
      for this solicitation. The content is intentionally greyed out, as there
      is nothing for the offeror to enter in this portion.
    </p>

    <h3>Offeror Section</h3>
    <p>
      Here, you will enter the title/name of your offer, and select the
      Authorizing Official from the dropdown.
    </p>
    <p>
      After you enter the above information, click on the blue
      <strong>Next</strong> button, located toward the bottom right of the page.
    </p>

    <h2>Step 2 - Details</h2>
    <p>
      The details page contains the content for the specific solicitation.
      Offerors can view the content within the MuniVendor platform, or can click
      on the blue <strong>Download as PDF</strong> button, located toward the
      top left of the screen.
    </p>
    <p>
      The blue <strong>Back</strong> and <strong>Next</strong> buttons are both
      located on the top right and bottom right of this page. Click Back to make
      changes in the Basics page, or click Next to move on to the next step.
    </p>

    <h2>Step 3 - Documents</h2>
    <p>
      This is the step in which you, the offeror, will upload your offer and all
      the required documents and forms for this solicitation. You will not be
      able to submit your offer until you have uploaded all the required
      content.
    </p>

    <h3>Agency Required Forms & Documents</h3>
    <p><strong>Form Name</strong> - The name of each form.</p>
    <p><strong>File Actions:</strong></p>
    <ul>
      <li>
        <strong>Download Icon</strong> - The download icon-button will download
        the original form from the government agency publishing the
        solicitation.
      </li>
      <li>
        <strong>Upload Icon</strong> - The upload icon-button will enable you to
        upload the completed content.
      </li>
    </ul>

    <div class="note">
      <strong>Note:</strong> It is important to note that once you have uploaded
      the completed document, if you click on the download button, you will be
      downloading a copy of the file you uploaded, and not the original form
      supplied by Munivendor.
    </div>

    <p>
      All MuniVendor participating government agencies use the New Jersey State
      issued version of these forms.
    </p>
    <p>
      For cybersecurity reasons, you must upload your content either as a flat
      PDF, or jpg files.
    </p>

    <p><strong>Status:</strong></p>
    <ul>
      <li>
        <strong>Incomplete</strong> - This means that you have not yet uploaded
        the completed form.
      </li>
      <li>
        <strong>Complete</strong> - This means that you have successfully
        uploaded your form.
      </li>
    </ul>

    <div class="important">
      <strong>Important:</strong> MuniVendor does not currently scan your
      documents or ensure that you have uploaded the correct document, or that
      the document is complete. You, the offeror, bear the responsibility to
      ensure that you properly complete and upload your document. Again, you,
      the offeror, must make certain that you completed the forms as per the
      government agency's instructions.
    </div>

    <h3>Agency Required Forms & Documents (Notarization Required)</h3>
    <p>
      These forms must be notarized, scanned and then uploaded to MuniVendor
      here.
    </p>
    <p><strong>Form Name</strong> - The name of each form.</p>
    <p><strong>File Actions:</strong></p>
    <ul>
      <li>
        <strong>Download Icon</strong> - The download icon-button will download
        the original form from the government agency publishing the
        solicitation.
      </li>
      <li>
        <strong>Upload Icon</strong> - The upload icon-button will enable you to
        upload the completed content.
      </li>
    </ul>

    <div class="note">
      <strong>Note:</strong> It is important to note that once you have uploaded
      the completed document, if you click on the download button, you will be
      downloading a copy of the file you uploaded, and not the original form
      supplied by Munivendor.
    </div>

    <p>
      All MuniVendor participating government agencies use the New Jersey State
      issued version of these forms.
    </p>
    <p>
      For cybersecurity reasons, you must upload your content either as a flat
      PDF, or jpg files.
    </p>

    <h3>Offeror Uploads</h3>
    <p>
      Click on the blue <strong>Add</strong> button to upload your proposal,
      brochures, and other offer-specific documents that are relevant to your
      solicitation. This may include, but is not necessarily limited to the
      following. You may upload each document separately, or you can combine
      these files and upload them in one PDF.
    </p>
    <ul>
      <li>Business Registration Certificate</li>
      <li>W-9</li>
      <li>Insurance Forms</li>
    </ul>

    <p>
      The blue <strong>Back</strong> and <strong>Next</strong> buttons are both
      located on the top right and bottom right of this page. Click Next to move
      on to the next step.
    </p>

    <h2>Step 4 - Review</h2>
    <p>
      The Review page is the final step before offer submission. Here, you can
      review all the solicitation response content, such as the Offeror Response
      Title, Authorizing Official, and all the documents you uploaded. Make sure
      to double check all the content you've uploaded to confirm that you have
      no errors or omissions.
    </p>

    <p>
      Once you are satisfied with the content, click on the blue
      <strong>Submit</strong> button to complete your offer submission.
    </p>

    <div class="important">
      <strong>Important:</strong> Once you click on the Submit button, you will
      no longer be able to edit or delete your offer, just as if you had
      manually dropped it off or mailed it to the government agency that
      published the solicitation.
    </div>

    <h1>Costs</h1>

    <h2>Registration is Free</h2>
    <p>
      There is no cost to offerors to register for MuniVendor. This means that
      it does not cost offerors any money to view solicitations from the
      government agencies that use the MuniVendor eProcurement platform.
    </p>

    <h2>Submission Costs</h2>
    <p>
      There is no cost to offerors to respond to government agency solicitations
      in 2025.
    </p>

    <p>
      In 2026, offerors will be charged $49 per offer submission in response to
      government agency solicitations. Offerors will have the option of
      purchasing "submission packs" at a discount, prior to each submission. We
      developed this cost model after consulting with dozens of offerors in the
      State of New Jersey to determine the average cost that offerors incur when
      they respond manually to solicitations, which averaged to approximately
      $80 per submission (paper, toner, shipping/manual delivery, payroll, etc.)
    </p>

    <p>
      Over time, to save costs to offerors, as additional government agencies
      enroll in the MuniVendor platform, MuniVendor may evolve its pricing plan
      to a monthly subscription model.
    </p>
  </div>
</body>
