<!-- <div class="organization-grid-container">
    <table mat-table [dataSource]="organizations" class="mat-elevation-z8">
      <ng-container matColumnDef="organizationName">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element">
          <mat-form-field>
            <input matInput [(ngModel)]="element.organizationName" placeholder="Enter name" />
          </mat-form-field>
        </td>
      </ng-container>
  
      <ng-container matColumnDef="organizationAddress">
        <th mat-header-cell *matHeaderCellDef> Address </th>
        <td mat-cell *matCellDef="let element">
          <mat-form-field>
            <input matInput [(ngModel)]="element.organizationAddress" placeholder="Enter address" />
          </mat-form-field>
        </td>
      </ng-container>
  
      <ng-container matColumnDef="organizationCity">
        <th mat-header-cell *matHeaderCellDef> City </th>
        <td mat-cell *matCellDef="let element">
          <mat-form-field>
            <input matInput [(ngModel)]="element.organizationCity" placeholder="Enter city" />
          </mat-form-field>
        </td>
      </ng-container>
  
      <ng-container matColumnDef="organizationState">
        <th mat-header-cell *matHeaderCellDef> State </th>
        <td mat-cell *matCellDef="let element">
          <mat-form-field>
            <input matInput [(ngModel)]="element.organizationState" placeholder="Enter state" />
          </mat-form-field>
        </td>
      </ng-container>
  
      <ng-container matColumnDef="organizationZip">
        <th mat-header-cell *matHeaderCellDef> Zip </th>
        <td mat-cell *matCellDef="let element">
          <mat-form-field>
            <input matInput [(ngModel)]="element.organizationZip" placeholder="Enter ZIP code" />
          </mat-form-field>
        </td>
      </ng-container>
  
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element">
          <button mat-button color="primary" (click)="save(element)">Save</button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
   -->