.full-width {
  width: 100%;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
}

mat-card {
  max-width: 500px;
}

mat-card-header {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

mat-card-title {
  text-align: center;
  width: 100%;
}

mat-card-actions > * {
  margin-bottom: 10px;
}
