<h1 mat-dialog-title>Cancel Request</h1>
<div mat-dialog-content>
  <form class="form-container">
    <mat-form-field appearance="fill">
      <mat-label>Select Reasoning</mat-label>
      <mat-select [formControl]="cancellationReasonId" [errorStateMatcher]="matcher" required>
        <mat-option value="">Choose an option</mat-option>
        <mat-option *ngFor="let requestCancellationReason of requestCancellationReasons" [value]="requestCancellationReason.requestCancellationReasonListId">
          {{ requestCancellationReason.requestCancellationReason }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="cancellationReasonId.hasError('required')">
        You must make a selection
      </mat-error>
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>If selection is "Other", enter your text here</mat-label>
      <textarea matInput rows="5" [formControl]="cancellationReasonNote" placeholder="Describe your reason"></textarea>
      <mat-error *ngIf="cancellationReasonNote.hasError('required')">
        This field cannot be empty
      </mat-error>
    </mat-form-field>
  </form>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <!-- Use the non-null assertion operator when passing the cancellationReason value -->
<button mat-button  [disabled]="!cancellationReasonId.valid || (cancellationReasonId.value === 10 && cancellationReasonNote.invalid)" (click)="confirm(data.request, data.action, cancellationReasonId.value!, cancellationReasonNote.value!)">Confirm</button>
</div>