<div class="submission-credits-container">
  <div class="header-banner">
    <h1 style="margin: 0px">Submission Credit History</h1>
  </div>

  <h2>
    Remaining Credits:

    <span>{{ submissionBalance }}</span>
  </h2>

  <br />

  <div
    *ngIf="!creditUsage || creditUsage.data.length === 0"
    class="empty-state"
  >
    <p class="empty-state-message">
      No credit usage history available at this time. Your credit usage history
      will appear here once you submit a response.
    </p>
  </div>

  <div
    *ngIf="creditUsage && creditUsage.data.length > 0"
    class="table-container"
  >
    <table mat-table [dataSource]="creditUsage" class="history-table" matSort>
      <ng-container matColumnDef="dateTime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Date and Time</th>
        <td mat-cell *matCellDef="let usage" style="white-space: pre-line">
          {{ usage.dateTime }}
        </td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
        <td mat-cell *matCellDef="let usage">
          {{ usage.type }}
        </td>
      </ng-container>

      <ng-container matColumnDef="paymentMethodUsed">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Payment Method Used
        </th>
        <td mat-cell *matCellDef="let usage">
          <ng-container
            *ngIf="
              usage.paymentMethodUsed || usage.lastFourNumbers;
              else showNA
            "
          >
            <span *ngIf="usage.paymentMethodUsed">{{
              usage.paymentMethodUsed
            }}</span>

            <ng-container *ngIf="usage.lastFourNumbers">
              <span class="account-digits">
                {{ usage.showAccount ? usage.lastFourNumbers : "****" }}
              </span>

              <button mat-icon-button (click)="toggleAccountVisibility(usage)">
                <mat-icon>
                  {{ usage.showAccount ? "visibility" : "visibility_off" }}
                </mat-icon>
              </button>
            </ng-container>
          </ng-container>

          <ng-template #showNA>
            <span>N/A</span>
          </ng-template>
        </td>
      </ng-container>

      <ng-container matColumnDef="solicitationId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Solicitation ID
        </th>
        <td mat-cell *matCellDef="let usage">
          <a
            [routerLink]="['/submission', usage.solicitationId]"
            class="submission-link"
          >
            {{ usage.solicitationId }} - {{ usage.solicitationTitle }}
          </a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="usageDisplayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: usageDisplayedColumns"></tr>
    </table>

    <mat-paginator
      [length]="creditUsage.data.length"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 25, 50]"
      showFirstLastButtons
    >
    </mat-paginator>
  </div>
</div>
