<div class="submission-credits-container">
  <div class="header-banner">
    <h1 style="margin: 0px">Submission Credits</h1>
  </div>
  <h2>Remaining Credits: {{ submissionBalance }}</h2>

  <br />
  <div class="table-container">
    <table mat-table [dataSource]="creditUsage" class="history-table">
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>Date</th>
        <td mat-cell *matCellDef="let usage">{{ usage.date }}</td>
      </ng-container>

      <ng-container matColumnDef="time">
        <th mat-header-cell *matHeaderCellDef>Time</th>
        <td mat-cell *matCellDef="let usage">{{ usage.time }}</td>
      </ng-container>

      <ng-container matColumnDef="submissionId">
        <th mat-header-cell *matHeaderCellDef>Submission ID</th>
        <td mat-cell *matCellDef="let usage">
          <a
            [routerLink]="['/submission', usage.submissionId]"
            class="submission-link"
          >
            {{ usage.submissionId }}
          </a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="usageDisplayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: usageDisplayedColumns"></tr>
    </table>
  </div>

  <mat-paginator
    [length]="creditUsage.data.length"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 50]"
    showFirstLastButtons
  >
  </mat-paginator>
</div>
