<div class="form-container">
    <h1 mat-dialog-title>Add Document</h1>
    <div mat-dialog-content>
      <div class="form-field-container">
        <mat-form-field>
          <mat-label>Enter Document Name</mat-label>
          <input matInput [(ngModel)]="text">
        </mat-form-field>
      </div>
      <input type="file" id="fileUpload" name="fileUpload">
    </div>
    
    <div mat-dialog-actions>
      <button mat-button (click)="onNoClick()">Cancel</button>
      <button mat-button (click)="onUpload()">Upload</button>
    </div>
 </div>