<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <p> <center>Your information below as it relates to the municipality</center></p>
    
    <div>
        <input type="text" id="rcorners1"  formControlName="email" value= 'Work email for the Super Admin and have access to the municipality account'>
              <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
                <div *ngIf="loginForm.get('email')?.errors?.['required']">Email is required.</div>
                <div *ngIf="loginForm.get('email')?.errors?.['email']">Invalid email format.</div>
              </div>
      </div>
    <div>
      <input type="text" id="rcorners1" formControlName="firstname" value= 'firstname'>
      <div *ngIf="loginForm.get('firstname')?.invalid && loginForm.get('firstname')?.touched">
        <div *ngIf="loginForm.get('firstname')?.errors?.['required']">Firstname is required.</div>
        <div *ngIf="loginForm.get('firstname')?.errors?.['minlength']">Firstname must be at least 3 characters long.</div>
      </div>
    </div>
    <div>
      <input type="text" id="rcorners1" formControlName="lastname" value= 'Lastname'>
        <div *ngIf="loginForm.get('lastname')?.invalid && loginForm.get('lastname')?.touched">
          <div *ngIf="loginForm.get('lastname')?.errors?.['required']">Lastname is required.</div>
          <div *ngIf="loginForm.get('lastname')?.errors?.['minlength']">Lastname must be at least 3 characters long.</div>
        </div>
    </div>
    <div>
        <input type="text" id="rcorners1" formControlName="title" value= 'title'>
          <div *ngIf="loginForm.get('title')?.invalid && loginForm.get('title')?.touched">
            <div *ngIf="loginForm.get('title')?.errors?.['required']">Title is required.</div>
            <div *ngIf="loginForm.get('title')?.errors?.['minlength']">Lastname must be at least 3 characters long.</div>
          </div>
      </div>
      <div>
        <input type="text" id="rcorners1" formControlName="workPhone" value= 'workPhone'>
          <div *ngIf="loginForm.get('workPhone')?.invalid && loginForm.get('workPhone')?.touched">
            <div *ngIf="loginForm.get('workPhone')?.errors?.['required']">Work Phone is required.</div>
            <div *ngIf="loginForm.get('workPhone')?.errors?.['phone']">Lastname must be at least 3 characters long.</div>
          </div>
      </div>
      <div>
        <input type="text" id="rcorners1" formControlName="personalMobilePhone" value= 'personalMobilePhone'>
          <div *ngIf="loginForm.get('personalMobilePhone')?.invalid && loginForm.get('personalMobilePhone')?.touched">
            <div *ngIf="loginForm.get('personalMobilePhone')?.errors?.['required']">Personal Mobile Phone is required.</div>
            <div *ngIf="loginForm.get('personalMobilePhone')?.errors?.['phone']">Lastname must be at least 3 characters long.</div>
          </div>
      </div>     
      <input type="text" id="rcorners1" formControlName="department" value= 'department'>
          <div *ngIf="loginForm.get('department')?.invalid && loginForm.get('department')?.touched">
            <div *ngIf="loginForm.get('department')?.errors?.['required']">Department  is required.</div>
            <div *ngIf="loginForm.get('department')?.errors?.['minlength']">Lastname must be at least 3 characters long.</div>
          </div>
      </div>                                                                                             
        <br>
    <div>
    <button type="submit" [disabled]="loginForm.invalid">Continue</button>
    <a [routerLink]="['/second-component']" routerLinkActive="router-link-active" >Already have an account? Click here to login</a>
    </div>
</form>