<form [formGroup]="detailForm" (ngSubmit)="onSubmit()">
    <p> <center>Let's sign up your account. We'll need some more information before moving on to the next step</center></p>
    <br>
    <div>
      <input type="text" id="rcorners1" formControlName="municipalityname" value= 'Municipality Name'>
      <div *ngIf="detailForm.get('municipalityname')?.invalid && detailForm.get('municipalityname')?.touched">
        <div *ngIf="detailForm.get('municipalityname')?.errors?.['required']">Municipality Name is required.</div>
        <div *ngIf="detailForm.get('municipalityname')?.errors?.['minlength']">Municipality Name must be at least 3 characters long.</div>
      </div>
    </div>
    <div>
      <input type="text" id="rcorners1" formControlName="address" value= 'address'>
        <div *ngIf="detailForm.get('address')?.invalid && detailForm.get('address')?.touched">
          <div *ngIf="detailForm.get('address')?.errors?.['required']">Address is required.</div>
          <div *ngIf="detailForm.get('address')?.errors?.['minlength']">Address must be at least 3 characters long.</div>
        </div>
    </div>
    <div>
        <input type="text" id="rcorners1"  formControlName="city" value= 'city'>
              <div *ngIf="detailForm.get('city')?.invalid && detailForm.get('city')?.touched">
                <div *ngIf="detailForm.get('city')?.errors?.['required']">Email is required.</div>
                <div *ngIf="detailForm.get('city')?.errors?.['minlength']">City must be at least 3 characters long.</div>
              </div>
      </div>
      <div>
        <input type="text" id="rcorners1"  formControlName="state" value= 'state'>
              <div *ngIf="detailForm.get('state')?.invalid && detailForm.get('state)?.touched">
                <div *ngIf="detailForm.get('state')?.errors?.['required']">State is required.</div>
                <div *ngIf="detailForm.get('state')?.errors?.['minlength']">State must be at least 3 characters long.</div>
              </div>
      </div>
    
        <br>
        <br>
        <br>
    <div>
         <button type="submit" [disabled]="detailForm.invalid">Continue</button>
    </div>
</form>