<div class="topnav">
    <!-- Non-authorized-->
    <a routerLink="/signup" routerLinkActive="active" ariaCurrentWhenActive="page" *ngIf="!(user$ | async)">Sign Up</a>
    <a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page" *ngIf="!(user$ | async)">Log In</a>
    <a routerLink="/forgot-password" routerLinkActive="active" ariaCurrentWhenActive="page" *ngIf="!(user$ | async)">Forgot Password</a>
    <a routerLink="/email-verification" routerLinkActive="active" ariaCurrentWhenActive="page" *ngIf="!(user$ | async)">Email Verification</a>

    <!-- Authorized -->
    <a routerLink="/role-verification" routerLinkActive="active" ariaCurrentWhenActive="page" *ngIf="user$ | async">Role Verification</a>
    <a routerLink="/government-agency-details" routerLinkActive="active" ariaCurrentWhenActive="page" *ngIf="user$ | async">Government Agency Details</a>
    <a routerLink="/user-details" routerLinkActive="active" ariaCurrentWhenActive="page" *ngIf="user$ | async">User Details</a>
    <a routerLink="/user-designation" routerLinkActive="active" ariaCurrentWhenActive="page" *ngIf="user$ | async">User Designation</a>
    <a routerLink="/payment-plan-confirmation" routerLinkActive="active" ariaCurrentWhenActive="page" *ngIf="user$ | async">Payment Plan</a>
    <a routerLink="/billing-profile" routerLinkActive="active" ariaCurrentWhenActive="page" *ngIf="user$ | async">Billing Profile</a>
  
    <a routerLink="/dashboard-component" routerLinkActive="active" ariaCurrentWhenActive="page" *ngIf="user$ | async">Dashboard</a>
    <a (click)="onLogOut()" *ngIf="user$ | async">Sign Out</a>
</div>
  
  <mat-sidenav-container>
    <!-- Conditional Side Navigation (Visible only when sidenav should be shown) -->
    <mat-sidenav *ngIf="showSidenav && (user$ | async)" mode="side" opened class="sidenav">
      <mat-nav-list>
        <a mat-list-item routerLink="dashboard-component" routerLinkActive="active">Dashboard</a>
        <a mat-list-item routerLink="create-request-view" routerLinkActive="active">Create New Request</a>
        <a mat-list-item routerLink="request-component" routerLinkActive="active">Create from Templates</a>
        <a mat-list-item routerLink="requests-view" routerLinkActive="active">Requests</a>
        <a mat-list-item routerLink="/create-component" routerLinkActive="active">Submissions</a>
        <a mat-list-item routerLink="/create-component" routerLinkActive="active">Applications</a>
        <a mat-list-item routerLink="/create-component" routerLinkActive="active">Forms</a>
        <a mat-list-item routerLink="/create-component" routerLinkActive="active">People</a>
        <a mat-list-item routerLink="/create-component" routerLinkActive="active">Decision Makers</a>
        <a mat-list-item routerLink="categories" routerLinkActive="active">Categories</a>
        <a mat-list-item routerLink="/create-component" routerLinkActive="active">Users</a>
        <a mat-list-item routerLink="/create-component" routerLinkActive="active">Reports</a>
        <a mat-list-item routerLink="/create-component" routerLinkActive="active">Definitions</a>
        <a mat-list-item routerLink="/create-component" routerLinkActive="active">My Profile</a>
        <a mat-list-item routerLink="/create-component" routerLinkActive="active">Government Agency Profile</a>
        <a mat-list-item routerLink="/create-component" routerLinkActive="active">Search</a>
        <a mat-list-item routerLink="/create-component" routerLinkActive="active">Log out</a>
      </mat-nav-list>
    </mat-sidenav>
  
    <mat-sidenav-content 
      class="main-content"
      [ngClass]="{
        'sidenav-visible': (user$ | async) && showSidenav,
        'sidenav-hidden': !(user$ | async) || !showSidenav
      }">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>