<!-- <div class="topnav">
  Not Authenticated
  <a
    routerLink="/email-verification"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    *ngIf="!(user$ | async)"
    >Email Verification</a
  >
  
  Authenticated
  <a
    routerLink="/role-verification"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    *ngIf="user$ | async"
    >Role Verification</a
  >
  <a
    routerLink="/government-agency-details"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    *ngIf="user$ | async"
    >Government Agency Details</a
  >
  <a
    routerLink="/user-details"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    *ngIf="user$ | async"
    >User Details</a
  >
  <a
    routerLink="/user-designation"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    *ngIf="user$ | async"
    >User Designation</a
  >
  <a
    routerLink="/payment-plan-confirmation"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    *ngIf="user$ | async"
    >Payment Plan</a
  >
  <a
    routerLink="/billing-profile"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    *ngIf="user$ | async"
    >Billing Profile</a
  >
</div> -->

<custom-sidenav *ngIf="showSidenav" [organizationTypeId]="organizationTypeId">
</custom-sidenav>

<div *ngIf="!showSidenav">
  <router-outlet></router-outlet>
</div>
