.topnav {
    width: 100%;
    background-color: blue;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.main-content {
    flex-grow: 1; /* This makes router-outlet fill the remaining space */
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
  }

.topnav a {
  color: white;
  text-decoration: none;
  padding: 10px;
  font-size: 18px;
  display: inline-block;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
}
