<mat-card>
  <mat-stepper [linear]="true" #stepper style="border-radius: 8px">
    <mat-step label="Setup & Governance">
      <ng-template matStepContent>
        <request-basic
          #step1
          [requestId]="requestId"
          [idParam]="idParam"
          (formValidityChange)="onFormValidityChange($event)"
        ></request-basic>
        <div>
          <button
            mat-raised-button
            (click)="saveRequest()"
            matStepperNext
            color="primary"
            style="float: right"
            [disabled]="!isStepValid"
          >
            Next
          </button>
        </div>
      </ng-template>
    </mat-step>

    <mat-step label="Scope, Administrative & Technical Requirements">
      <ng-template matStepContent>
        <div class="request-stepper-button-container">
          <button
            mat-raised-button
            matStepperPrevious
            color="primary"
            style="margin-right: 8px"
          >
            Back
          </button>
          <button
            mat-raised-button
            matStepperNext
            (click)="saveSections()"
            color="primary"
            [disabled]="!isStepValid"
          >
            Next
          </button>
        </div>
        <request-overview
          #step2
          [idParam]="idParam"
          (formValidityChange)="onFormValidityChange($event)"
        ></request-overview>
        <div class="request-stepper-button-container-margin-top">
          <button
            mat-raised-button
            matStepperPrevious
            color="primary"
            style="margin-right: 8px"
          >
            Back
          </button>
          <button
            mat-raised-button
            matStepperNext
            (click)="saveSections()"
            [disabled]="!isStepValid"
            color="primary"
          >
            Next
          </button>
        </div>
      </ng-template>
    </mat-step>

    <mat-step label="Required Forms & Documents">
      <ng-template matStepContent>
        <div class="request-stepper-button-container">
          <button
            mat-raised-button
            matStepperPrevious
            color="primary"
            style="margin-right: 8px"
          >
            Back
          </button>
          <button
            mat-raised-button
            matStepperNext
            (click)="saveDocuments()"
            color="primary"
          >
            Next
          </button>
        </div>
        <request-required-documents
          [idParam]="idParam"
        ></request-required-documents>
        <div class="request-stepper-button-container">
          <button
            mat-raised-button
            matStepperPrevious
            color="primary"
            style="margin-right: 8px"
          >
            Back
          </button>
          <button
            mat-raised-button
            matStepperNext
            (click)="saveDocuments()"
            color="primary"
          >
            Next
          </button>
        </div>
      </ng-template>
    </mat-step>

    <mat-step label="Final Review">
      <ng-template matStepContent>
        <div class="request-stepper-button-container">
          <button
            mat-raised-button
            matStepperPrevious
            color="primary"
            style="margin-right: 8px"
          >
            Back
          </button>
          <button
            mat-raised-button
            matStepperNext
            (click)="updateRequestStatusToScheduled()"
            color="primary"
          >
            Submit
          </button>
        </div>
        <request-review
          [paramRequestId]="requestId ?? undefined"
        ></request-review>
        <div class="request-stepper-button-container">
          <button
            mat-raised-button
            matStepperPrevious
            color="primary"
            style="margin-right: 8px"
          >
            Back
          </button>
          <button
            mat-raised-button
            matStepperNext
            (click)="updateRequestStatusToScheduled()"
            color="primary"
          >
            Submit
          </button>
        </div>
      </ng-template>
    </mat-step>
  </mat-stepper>
</mat-card>
