<h1 class="page-title">Offeror Profile</h1>

<ng-container *ngIf="referenceDataLoaded">
  <app-offeror-details [states]="states" [countries]="countries" />
  <app-legal-information />
  <app-stockholder-information [states]="states" [countries]="countries" />
  <app-authorizing-officials [states]="states" [counties]="counties" />
  <app-required-compliance-forms
    [uploadedDocuments]="organizationDocuments"
    [documentTypes]="documentTypes"
    (documentUploaded)="onDocumentUploaded()"
  />
  <app-required-files
    [uploadedDocuments]="organizationDocuments"
    [documentTypes]="documentTypes"
    (documentUploaded)="onDocumentUploaded()"
  />
  <app-prohibited-activities-russia-belarus
    [uploadedDocuments]="organizationDocuments"
    [documentTypes]="documentTypes"
    [profileDetails]="offerProfileDetails"
    (documentUploaded)="onDocumentUploaded()"
    (detailsSaved)="onProfileDetailsSaved()"
  />
  <app-prohibited-activities-iran
    [uploadedDocuments]="organizationDocuments"
    [documentTypes]="documentTypes"
    [profileDetails]="offerProfileDetails"
    (documentUploaded)="onDocumentUploaded()"
    (detailsSaved)="onProfileDetailsSaved()"
  />
</ng-container>
