
<p> The person who signs up will be the Super Admin and have all access to the municiaplity account (Don’t worry you can change it later)</p>
<br>
<br>
<br>
<br>
<table class="center">
  <tr>
    <td>
      <input type="text" id="rcorners1" value= 'Work email for the Super Admin and have access to the municipality account'>
    </td>
  </tr>
  <tr>
    <td>
  <input type="text" id="rcorners1" value= 'Firstname'>
     </td>
  </tr>
  <tr>
    <td>
  <input type="text" id="rcorners1" value= 'Lastname'>
    </td>
  </tr>
  <tr>
    <td>
  <input type="text" id="rcorners1" value= 'Title'>
    </td>
  </tr>
  <tr>
    <td>
  <input type="text" id="rcorners1" value= 'Work phone number'>
    </td>
  </tr>
  <table>
    <br>
    <br>
    <br>
 <a [routerLink]="['/second-component']" routerLinkActive="router-link-active" >continue </a>
