<div class="form-container">
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Welcome to Munivendor</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <asl-google-signin-button type='standard' size='medium' text='signup_with'
          theme='filled_blue'></asl-google-signin-button>

        <div class="separator">
          <span>OR</span>
        </div>

        <mat-form-field class="full-width">
          <mat-label>First Name</mat-label>
          <input matInput type="text" formControlName="firstname" placeholder="Enter your First Name">
          <mat-error *ngIf="signupForm.get('firstname')?.hasError('required')">
            First Name is required.
          </mat-error>
          <mat-error *ngIf="signupForm.get('firstname')?.hasError('pattern')">
            First Name must be at least 3 characters long and contain only letters, spaces, hyphens, or apostrophes.
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Last Name</mat-label>
          <input matInput type="text" formControlName="lastname" placeholder="Enter your Last Name">
          <mat-error *ngIf="signupForm.get('lastname')?.hasError('required')">
            Last Name is required.
          </mat-error>
          <mat-error *ngIf="signupForm.get('firstname')?.hasError('pattern')">
            Last Name must be at least 3 characters long and contain only letters, spaces, hyphens, or apostrophes.
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Organization Type</mat-label>
          <mat-select formControlName="organizationTypeId" placeholder="Select your organization" [disabled]="isLGA">
            <mat-option *ngFor="let organizationType of organizationTypes" [value]="organizationType.organizationTypeId">
              {{ organizationType.organizationTypeDescription }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="signupForm.get('organization')?.hasError('required')">
            Organization Type is required
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Work Email/Username</mat-label>
          <input matInput type="email" formControlName="email" placeholder="Enter your work email">
          <mat-error *ngIf="signupForm.get('email')?.hasError('required')">
            Work Email/Username is required.
          </mat-error>
          <mat-error *ngIf="signupForm.get('email')?.hasError('email')">
            Invalid email format.
          </mat-error>
          <mat-error *ngIf="signupForm.get('email')?.hasError('pattern')">
            Please enter a valid email address.
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" placeholder="Enter your password">
          <mat-error *ngIf="signupForm.get('password')?.invalid && signupForm.get('password')?.touched">
            {{ getPasswordErrorMessage() }}
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Confirm Password</mat-label>
          <input matInput type="password" formControlName="confirmPassword" placeholder="Confirm your password"  (cut)="$event.preventDefault()"
          (copy)="$event.preventDefault()"
          (paste)="$event.preventDefault()">
          <mat-error *ngIf="signupForm.get('confirmPassword')?.hasError('required')">
            Password is required.
          </mat-error>
          <mat-error *ngIf="signupForm.hasError('passwordMismatch') && signupForm.get('confirmPassword')?.touched">
            Passwords do not match.
          </mat-error>
        </mat-form-field>
      
        <button style="margin-top: 1rem; margin-bottom: 1rem;" class="full-width" mat-raised-button color="primary"
          type="submit">Sign Up</button>

        <span>Already have an account? Click here to <a [routerLink]="['/login']">log in</a>.</span>
      </mat-card-content>
    </mat-card>
  </form>
</div>