<div class="lga-container" *ngIf="organizationTypeId === 1">
  <mat-card class="lga-card">
    <mat-card-header>
      <mat-card-title>Payment Plan</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div><u>Government Agency Plan A</u></div>
      <ul>
        <li>Free for 12 Months</li>
        <li>After 12 months pay $299/month</li>
        <li>Includes all of Munivendor’s Features, including ALL future features, improvements, and enhancements</li>
      </ul>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" [routerLink]="'/billing-information'">Continue</button>
    </mat-card-actions>
  </mat-card>
</div>

<div *ngIf="organizationTypeId !== 1">
  <div style="text-align: center;">
    <h1><b>Choose Your Plan</b></h1>
    <p>Give your team the features they need to succeed.</p>
  </div>
  <div class="offeror-container">
    <mat-card class="offeror-card" *ngFor="let plan of offerorPricingPlans; let planIndex = index">
      <mat-card-header>
        <mat-card-title>{{ plan.name }}</mat-card-title>
        <mat-card-subtitle>{{ plan.price }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="offeror-card-content">
        <ul class="features">
          <li *ngFor="let feature of allFeatures; let i = index"
            [ngClass]="{'feature-included': isFeatureIncluded(planIndex, i), 'feature-excluded': !isFeatureIncluded(planIndex, i)}">
            {{ getFeatureText(planIndex, i) }}
          </li>
        </ul>
      </mat-card-content>
      <div class="spacer"></div>
      <mat-card-actions class="card-footer">
        <button mat-raised-button color="primary" [routerLink]="'/billing-information'">Select</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>