<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened class="sidenav">
    <mat-toolbar class="sidenav-header">Dashboard</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/request-component" routerLinkActive="active">Dashboard</a>
      <a mat-list-item routerLink="create-request-view" routerLinkActive="active">Create New Request</a>
      <a mat-list-item routerLink="request-component" routerLinkActive="active">Create from Templates</a>
      <a mat-list-item routerLink="requests-view" routerLinkActive="active">Requests</a>
      <a mat-list-item routerLink="/create-component" routerLinkActive="active">Submissions</a>
      <a mat-list-item routerLink="/create-component" routerLinkActive="active">Applications</a>
      <a mat-list-item routerLink="/create-component" routerLinkActive="active">Forms</a>
      <a mat-list-item routerLink="/create-component" routerLinkActive="active">People</a>
      <a mat-list-item routerLink="/create-component" routerLinkActive="active">Decision Makers</a>
      <a mat-list-item routerLink="/create-component" routerLinkActive="active">Categories</a>
      <a mat-list-item routerLink="/create-component" routerLinkActive="active">Users</a>
      <a mat-list-item routerLink="/create-component" routerLinkActive="active">Reports</a>
      <a mat-list-item routerLink="/create-component" routerLinkActive="active">Definitions</a>
      <a mat-list-item routerLink="/create-component" routerLinkActive="active">My Profile</a>
      <a mat-list-item routerLink="/create-component" routerLinkActive="active">Municipality Profile</a>
      <a mat-list-item routerLink="/create-component" routerLinkActive="active">Search</a>
      <a mat-list-item routerLink="/create-component" routerLinkActive="active">Log out</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="main-content">
    <mat-toolbar color="primary">Main Content</mat-toolbar>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

