<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<!-- Sidebar -->
<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:15%">
  <a [routerLink]="['request-component']" routerLinkActive="router-link-active" class="w3-bar-item w3-button">Dashboard</a>
  <a [routerLink]="['create-request-view']" routerLinkActive="router-link-active" class="w3-bar-item w3-button">Create New Request</a>
  <a [routerLink]="['request-component']" routerLinkActive="router-link-active" class="w3-bar-item w3-button">Create from Templates</a>
  <a [routerLink]="['requests-view']" routerLinkActive="router-link-active" class="w3-bar-item w3-button">Requests</a>
  <a [routerLink]="['/create-component']" routerLinkActive="router-link-active" class="w3-bar-item w3-button">Submissions</a>
  <a [routerLink]="['/create-component']" routerLinkActive="router-link-active" class="w3-bar-item w3-button">Applications</a>
  <a [routerLink]="['/create-component']" routerLinkActive="router-link-active" class="w3-bar-item w3-button">Forms</a>
  <a [routerLink]="['/create-component']" routerLinkActive="router-link-active" class="w3-bar-item w3-button">People</a>
  <a [routerLink]="['/create-component']" routerLinkActive="router-link-active" class="w3-bar-item w3-button">Decision Makers</a>
  <a [routerLink]="['/create-component']" routerLinkActive="router-link-active" class="w3-bar-item w3-button">Categories</a>
  <a [routerLink]="['/create-component']" routerLinkActive="router-link-active" class="w3-bar-item w3-button">Users</a>
  <a [routerLink]="['/create-component']" routerLinkActive="router-link-active" class="w3-bar-item w3-button">Reports</a>
  <a [routerLink]="['/create-component']" routerLinkActive="router-link-active" class="w3-bar-item w3-button">Definitions</a>
  <a [routerLink]="['/create-component']" routerLinkActive="router-link-active" class="w3-bar-item w3-button">My Profile</a>
  <a [routerLink]="['/create-component']" routerLinkActive="router-link-active" class="w3-bar-item w3-button">Municipality Profile</a>
  <a [routerLink]="['/create-component']" routerLinkActive="router-link-active" class="w3-bar-item w3-button">Search</a>
  <a [routerLink]="['/create-component']" routerLinkActive="router-link-active" class="w3-bar-item w3-button">Log out</a>
</div>

<!-- Page Content -->
<div style="margin-left:15%">

<div class="w3-container w3-teal">

</div>
    <div class="w3-container">
        <router-outlet></router-outlet>
    </div>

</div>
      
</body>
</html>
