<!DOCTYPE html>
<html>
<head>
<style>
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 1px;
  background-color: black;
  padding: 1px;
}

.grid-container > div {
  background-color: white;
  text-align: center;
  padding: 2px 0;
  font-size: 15px;
}

.grid-container > div {
  background-color: white;
  text-align: center;
  padding: 2px 0;
  font-size: 15px;
}
</style>
</head>
<body>

<h1>Requests</h1>
<div class="grid-container">
  <div class="header">Request Name</div>
  <div class="header">Type</div>
  <div>Release Date</div>  
  <div>Completion Status</div>
  <div>Final Status</div>

  <div>John Doe</div>
  <div>It</div>
  <div>12/20/2023</div>  
  <div>38%</div>
  <div>38%</div>
</div>

</body>
</html>   