<mat-drawer-container class="sidenav-container">
  <mat-drawer
    #drawer
    class="sidenav"
    [class.collapsed]="!isExpanded"
    mode="side"
    opened="true"
  >
    <div class="mat-drawer-inner-container">
      <div class="sidenav-header">
        <div style="text-align: center">
          <img
            *ngIf="isExpanded"
            src="assets/munivendor-logo.png"
            alt="Munivendor Logo"
            style="width: 125px; padding: 15px"
          />
          <img
            *ngIf="!isExpanded"
            src="assets/munivendor-icon.png"
            alt="Munivendor Logo"
            style="width: 40px; padding: 11px"
          />
        </div>
      </div>

      <mat-nav-list class="nav-list">
        <mat-list-item
          *ngFor="let item of menuItems"
          class="nav-item"
          [class.active]="isActiveRoute(item.route)"
          (click)="onMenuClick(item)"
        >
          <mat-icon matListItemIcon style="margin-left: 20px">{{
            item.icon
          }}</mat-icon>
          <span matListItemTitle *ngIf="isExpanded">{{ item.label }}</span>
        </mat-list-item>
      </mat-nav-list>

      <div class="sidenav-bottom">
        <mat-list-item class="nav-item logout-item" (click)="onLogout()">
          <mat-icon matListItemIcon style="margin-left: 20px">logout</mat-icon>
          <span matListItemTitle *ngIf="isExpanded">Logout</span>
        </mat-list-item>

        <div
          class="toggle-button"
          [class.float-right]="isExpanded"
          (click)="toggleSidenav()"
        >
          <mat-icon>{{
            isExpanded ? "chevron_left" : "chevron_right"
          }}</mat-icon>
        </div>
      </div>
    </div>
  </mat-drawer>

  <div class="main-content" style="min-height: 100%">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
