.container {
    text-align: center;
    margin-top: 20px;
  }
  
  mat-card {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
  }
  
  button {
    margin-top: 20px;
  }

  .container ul {
    display: inline-block;
    text-align: left;
  }
  