<div class="container">
  <mat-card>
    <mat-card-title>Payment Plan</mat-card-title>
    <br />
    <mat-card-content>
      <div><u>Local Government Organization Plan A</u></div>
      <ul>
        <li>Free for 12 Months</li>
        <li>After 12 months pay $299/month</li>
        <li>Includes all of Munivendor’s Features, including ALL future features, improvements, and enhancements</li>
      </ul>
      <button mat-raised-button color="primary" [routerLink]="'/payment-information'">Continue</button>
    </mat-card-content>
  </mat-card>
</div>