<div [formGroup]="proposalsOverviewFormGroup">
    <div style="margin-top: 8px;" formArrayName="proposalSections">
        <div *ngFor="let proposalSection of proposalSections.controls; let i = index" [formGroupName]="i">
            <mat-form-field class="title-width">
                <mat-label>Enter title</mat-label>
                <input matInput formControlName="requestSectionTitle" title="requestSectionTitle" />
                <mat-error
                    *ngIf="proposalSection.get('requestSectionTitle')?.hasError('required') && proposalSection.get('requestSectionTitle')?.touched">
                    Title is required.
                </mat-error>
            </mat-form-field>
            <editor [init]="editorConfig" apiKey="a324t4ybx6koh3hx9tyklbrofvbrlrtca89oye9rito78fv3" formControlName="requestSectionContent"></editor>
            <ul
                *ngIf="proposalSection.get('requestSectionTitle')?.value === 'Technical Proposal Standard Requirements'">
                <li>Note: N.J.S.A 52:32-44 provides that government agencies may not enter into a contract for goods or
                    services
                    unless the other party to the contract provides a copy of its business registration certificate
                    and
                    the
                    business registration certificate of any subcontractors at the time that it submits its
                    proposal.
                    MuniVendor automatically inserts your business registration certificate from your MuniVendor
                    vendor
                    profile. If you plan to utilize subcontractors, then please include copies of those
                    subcontractor’s
                    business registration certificates in your technical proposal upload. The contracting party must
                    also
                    collect the state use tax where applicable.</li>
            </ul>
            <hr class="propsal-divider" style="margin-top: 20px;" />
        </div>
    </div>
</div>
<button mat-fab color="primary" style="margin-bottom: 16px;" extended (click)="addSection()">
    <mat-icon>add</mat-icon>
    Add Section
</button>