<form [formGroup]="requestDocumentsForm" (ngSubmit)="onSubmit()">
<p>Now please check off which documents you want to be required for this request</p>
<p>Required forms from the State of NJ</p>
   <div formArrayName="requiredRequestDocumentItems"> 
    <div *ngFor="let requiredRequestDocument of requiredRequestDocuments; let i = index">
        <input type="checkbox" [formControlName]="i" [checked]="true" [disabled]="true"/>
        {{ requiredRequestDocument.documentTypeDescription }}
    </div>
  </div>

  <p>Optional forms from the State of NJ</p>
   <div formArrayName="optionalRequestDocumentItems"> 
    <div *ngFor="let optionalRequestDocument of optionalRequestDocuments; let i = index">
        <input type="checkbox" [formControlName]="i"/>
        {{ optionalRequestDocument.documentTypeDescription }}
    </div>
  </div>

  <p>Optional forms from Municipality</p>
  <div formArrayName="municipalityRequestDocumentItems"> 
    <div *ngFor="let municipalityRequestDocument of municipalityRequestDocuments; let i = index">
        <input type="checkbox" [formControlName]="i"/>
        {{ municipalityRequestDocument.documentTypeDescription }}
      <div class="example-button-container">
        <button mat-fab aria-label="Additional Request Delete Icon" (click)="onDeleteMunicipalityRequestDocument(i)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <p> Upload a document you would like to be required</p>

  <button mat-raised-button type="button" (click)="openDialog()">Add</button>
   
  <button mat-raised-button type="submit">Submit</button>
</form>
