<form [formGroup]="parentFormGroup">
  <ng-template matStepLabel>Basics</ng-template>

  <div class="field-container">
    <!-- Category Selection -->
    <div class="inline-field">
      <p>What category are you looking to create?</p>
      <mat-form-field appearance="fill" class="basics-width">
        <mat-label>Category</mat-label>
        <mat-select (selectionChange)="onCategoryChange($event)" formControlName="category">
          <mat-option value="">Choose Category</mat-option>
          <mat-option *ngFor="let category of categories" [value]="category.categoryId">
            {{ category.categoryName }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="parentFormGroup.get('category')?.hasError('required')">
          Category is required.
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Subcategory Selection -->
    <div class="inline-field">
      <p>What subcategory will this request be for?</p>
      <mat-form-field appearance="fill" class="basics-width">
        <mat-label>Subcategory</mat-label>
        <mat-select formControlName="subcategory">
          <mat-option value="">Choose Subcategory</mat-option>
          <mat-option *ngFor="let subcategory of subcategories" [value]="subcategory.subCategoryId">
            {{ subcategory.subCategoryName }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="parentFormGroup.get('subcategory')?.hasError('required')">
          Subcategory is required.
        </mat-error>
      </mat-form-field>
    </div>
  </div>


  <div class="field-container">
    <!-- Request Type Selection -->
    <div class="inline-field">
      <p>Please choose the request type below</p>
      <mat-form-field appearance="fill" class="basics-width">
        <mat-label>Request Type</mat-label>
        <mat-select formControlName="requestType">
          <mat-option value="">Choose Request Type</mat-option>
          <mat-option *ngFor="let requestType of requestTypes" [value]="requestType.requestTypeId">
            {{ requestType.requestTypeDesc }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="parentFormGroup.get('requestType')?.hasError('required')">
          Request Type is required.
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Request Name -->
    <div class="inline-field">
      <p>Request Name</p>
      <mat-form-field appearance="fill" class="basics-width">
        <mat-label>Request Name</mat-label>
        <input matInput formControlName="requestName" placeholder="Enter Request Name">
        <mat-error *ngIf="parentFormGroup.get('requestName')?.hasError('required')">
          Request Name is required.
        </mat-error>
      </mat-form-field>
    </div>
  </div>

  <div class="field-container">
    <!-- Publish Date -->
    <div class="inline-field">
      <p>What is the Publish Date?</p>
      <mat-form-field appearance="fill" class="basics-width">
        <mat-label>Publish Date</mat-label>
        <input matInput [matDatepicker]="publishDatePicker" formControlName="publishDate"
          (dateChange)="formatToISO('publishDate', $event)">
        <mat-datepicker-toggle matSuffix [for]="publishDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #publishDatePicker></mat-datepicker>
        <mat-error *ngIf="parentFormGroup.get('publishDate')?.hasError('required')">
          Publish Date is required.
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Publish Time -->
    <div class="inline-field">
      <p>What is the Publish Time?</p>
      <mat-form-field appearance="fill" class="basics-width">
        <mat-label>Publish Time</mat-label>
        <input matInput type="time" formControlName="publishTime">
        <mat-error *ngIf="parentFormGroup.get('publishTime')?.hasError('required')">
          Publish Time is required.
        </mat-error>
      </mat-form-field>
    </div>
  </div>

  <div class="field-container">
    <!-- Open Date -->
    <div class="inline-field">
      <p>What is the Open Date?</p>
      <mat-form-field appearance="fill" class="basics-width">
        <mat-label>Open Date</mat-label>
        <input matInput [matDatepicker]="openDatePicker" formControlName="openDate"
          (dateChange)="formatToISO('openDate', $event)">
        <mat-datepicker-toggle matSuffix [for]="openDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #openDatePicker></mat-datepicker>
        <mat-error *ngIf="parentFormGroup.get('openDate')?.hasError('required')">
          Open Date is required.
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Open Time -->
    <div class="inline-field">
      <p>What is the Open Time?</p>
      <mat-form-field appearance="fill" class="basics-width">
        <mat-label>Open Time</mat-label>
        <input matInput type="time" formControlName="openTime">
        <mat-error *ngIf="parentFormGroup.get('openTime')?.hasError('required')">
          Open Time is required.
        </mat-error>
      </mat-form-field>
    </div>
  </div>

  <div class="field-container">
    <!-- Contract Start Date -->
    <div class="inline-field">
      <p>Contract Start Date</p>
      <mat-form-field appearance="fill" class="basics-width">
        <mat-label>Contract Start Date</mat-label>
        <input matInput [matDatepicker]="contractStartDatePicker" formControlName="contractStartDate"
          (dateChange)="formatToISO('contractStartDate', $event)">
        <mat-datepicker-toggle matSuffix [for]="contractStartDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #contractStartDatePicker></mat-datepicker>
        <mat-error *ngIf="parentFormGroup.get('contractStartDate')?.hasError('required')">
          Contract Start Date is required.
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Contract End Date -->
    <div class="inline-field">
      <p>Contract End Date</p>
      <mat-form-field appearance="fill" class="basics-width">
        <mat-label>Contract End Date</mat-label>
        <input matInput [matDatepicker]="contractEndDatePicker" formControlName="contractEndDate"
          (dateChange)="formatToISO('contractEndDate', $event)">
        <mat-datepicker-toggle matSuffix [for]="contractEndDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #contractEndDatePicker></mat-datepicker>
        <mat-error *ngIf="parentFormGroup.get('contractEndDate')?.hasError('required')">
          Contract End Date is required.
        </mat-error>
      </mat-form-field>
    </div>
  </div>

  <!-- Decision Maker Selection -->
    <p>Choose who will be the decision maker on this proposal.</p>
    <div formArrayName="dropdowns">
      <div *ngFor="let dropdown of dropdowns.controls; let i = index" [formGroupName]="i">
        <div class="inline-field">
          <mat-form-field appearance="fill" class="basics-decision-maker-width">
            <mat-label>Decision Maker</mat-label>
            <mat-select formControlName="decisionMaker">
              <mat-option value="">Choose Decision Maker</mat-option>
              <mat-option *ngFor="let decisionMaker of decisionMakers" [value]="decisionMaker.decisionMakerId">
                {{ decisionMaker.decisionMakerName }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="dropdown.get('decisionMaker')?.hasError('required')">
              Decision Maker is required.
            </mat-error>
          </mat-form-field>
          <button *ngIf="i > 0" mat-icon-button aria-label="delete" type="button" color="warn" (click)="removeDropdown(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </div>

   <button mat-raised-button style="margin-bottom: 8px; margin-top: 8px;" color="primary" (click)="addDropdown()">Add
    Decision
    Maker</button>
</form>