<form [formGroup]="basicsFormGroup">
  <ng-template matStepLabel>Basics</ng-template>
  <div *ngIf="basicsFormGroup">
    <div class="field-container">
      <div class="inline-field">
        <p>What category are you looking to create?</p>
        <mat-form-field appearance="fill" class="input-width">
          <mat-label>Category</mat-label>
          <input
            type="text"
            placeholder="Choose Category"
            aria-label="Category"
            matInput
            required
            (focus)="onCategoryFocus()"
            formControlName="category"
            id="categoryInput"
            [matAutocomplete]="auto"
          />
          <mat-autocomplete
            #auto="matAutocomplete"
            [displayWith]="displayCategoryName"
          >
            @for (option of filteredCategories | async; track option) {
              <mat-option
                [value]="option.categoryId"
                (onSelectionChange)="
                  $event.isUserInput &&
                    selectCategory(option.categoryId, option.name)
                "
              >
                <div
                  class="tree-node"
                  [ngStyle]="{ 'padding-left.px': getNodeIndent(option.level) }"
                >
                  <button
                    *ngIf="option.expandable"
                    mat-icon-button
                    (click)="toggleExpand(+option.categoryId, $event)"
                    class="toggle-button"
                  >
                    <mat-icon>
                      {{
                        isExpanded(option.categoryId)
                          ? "expand_more"
                          : "chevron_right"
                      }}
                    </mat-icon>
                  </button>
                  <span
                    *ngIf="!option.expandable"
                    class="toggle-spacer"
                    [ngStyle]="{ 'width.px': 40 }"
                  >
                  </span>
                  <span class="category-name">{{ option.name }}</span>
                </div>
              </mat-option>
            }
          </mat-autocomplete>
          <mat-error
            *ngIf="basicsFormGroup.get('category')?.hasError('required')"
          >
            Category is required.
          </mat-error>
          <mat-error
            *ngIf="basicsFormGroup.get('category')?.hasError('invalidCategory')"
          >
            Please select a valid category from the list.
          </mat-error>
        </mat-form-field>
      </div>

      <div class="inline-field">
        <p>Please choose the request type below</p>
        <mat-form-field appearance="fill" class="input-width">
          <mat-label>Solicitation Type</mat-label>
          <mat-select
            formControlName="requestType"
            placeholder="Choose Solicitation Type"
          >
            <mat-option
              *ngFor="let requestType of requestTypes"
              [value]="requestType.requestTypeId"
            >
              {{ requestType.requestTypeDesc }}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="basicsFormGroup.get('requestType')?.hasError('required')"
          >
            Solicitation Type is required.
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="field-container">
      <div class="inline-field">
        <p>Solicitation Name</p>
        <mat-form-field appearance="fill" class="input-width">
          <mat-label>Solicitation Name</mat-label>
          <input matInput formControlName="requestName" id="requestName" />
          <mat-error
            *ngIf="basicsFormGroup.get('requestName')?.hasError('required')"
          >
            Solicitation Name is required.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="inline-field"></div>
    </div>

    <div class="field-container">
      <div class="inline-field">
        <p>What is the Publish Date?</p>
        <mat-form-field appearance="fill" class="input-width">
          <mat-label>Publish Date</mat-label>
          <input
            matInput
            [matDatepicker]="publishDatePicker"
            [matDatepickerFilter]="disableWeekendsAndPastDates"
            formControlName="publishDate"
            id="publishDate"
            (dateChange)="onSelectDate('publishDate', $event)"
            readonly
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="publishDatePicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #publishDatePicker></mat-datepicker>
          <mat-error
            *ngIf="basicsFormGroup.get('publishDate')?.hasError('required')"
          >
            Publish Date is required.
          </mat-error>
          <mat-error
            *ngIf="
              basicsFormGroup
                .get('publishDate')
                ?.hasError('matDatepickerFilter')
            "
          >
            Publish Date is in the past. Please choose a new date.
          </mat-error>
        </mat-form-field>
      </div>

      <div class="inline-field">
        <p>What is the Publish Time?</p>
        <mat-form-field appearance="fill" class="input-width">
          <mat-label>Publish Time</mat-label>
          <input
            matInput
            type="time"
            formControlName="publishTime"
            id="publishTime"
          />
          <mat-error
            *ngIf="basicsFormGroup.get('publishTime')?.hasError('required')"
          >
            Publish Time is required.
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="field-container">
      <div class="inline-field">
        <p>What is the Close Date?</p>
        <mat-form-field appearance="fill" class="input-width">
          <mat-label>Close Date</mat-label>
          <input
            matInput
            [matDatepicker]="closeDatePicker"
            [matDatepickerFilter]="disableCloseDates"
            formControlName="closeDate"
            id="closeDate"
            (dateChange)="onSelectDate('closeDate', $event)"
            readonly
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="closeDatePicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #closeDatePicker></mat-datepicker>
          <mat-error
            *ngIf="basicsFormGroup.get('closeDate')?.hasError('required')"
          >
            Close Date is required.
          </mat-error>
          <mat-error
            *ngIf="
              basicsFormGroup.get('closeDate')?.hasError('matDatepickerFilter')
            "
          >
            Close Date is in the past. Please choose a new date.
          </mat-error>
        </mat-form-field>
      </div>

      <div class="inline-field">
        <p>What is the Close Time?</p>
        <mat-form-field appearance="fill" class="input-width">
          <mat-label>Close Time</mat-label>
          <input
            matInput
            type="time"
            formControlName="closeTime"
            id="closeTime"
          />
          <mat-error
            *ngIf="basicsFormGroup.get('closeTime')?.hasError('required')"
          >
            Close Time is required.
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="field-container">
      <div class="inline-field">
        <p>Contract Start Date</p>
        <mat-form-field appearance="fill" class="input-width">
          <mat-label>Contract Start Date</mat-label>
          <input
            matInput
            [matDatepicker]="contractStartDatePicker"
            [matDatepickerFilter]="disableWeekendsAndPastDates"
            formControlName="contractStartDate"
            id="contractStartDate"
            (dateChange)="onSelectDate('contractStartDate', $event)"
            readonly
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="contractStartDatePicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #contractStartDatePicker></mat-datepicker>
          <mat-error
            *ngIf="
              basicsFormGroup.get('contractStartDate')?.hasError('required')
            "
          >
            Contract Start Date is required.
          </mat-error>
          <mat-error
            *ngIf="
              basicsFormGroup
                .get('contractStartDate')
                ?.hasError('matDatepickerFilter')
            "
          >
            Contract Start Date is in the past. Please choose a new date.
          </mat-error>
        </mat-form-field>
      </div>

      <div class="inline-field">
        <p>Contract End Date</p>
        <mat-form-field appearance="fill" class="input-width">
          <mat-label>Contract End Date</mat-label>
          <input
            matInput
            [matDatepicker]="contractEndDatePicker"
            [matDatepickerFilter]="disableContractEndDates"
            formControlName="contractEndDate"
            id="contractEndDate"
            (dateChange)="onSelectDate('contractEndDate', $event)"
            readonly
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="contractEndDatePicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #contractEndDatePicker></mat-datepicker>
          <mat-error
            *ngIf="basicsFormGroup.get('contractEndDate')?.hasError('required')"
          >
            Contract End Date is required.
          </mat-error>
          <mat-error
            *ngIf="
              basicsFormGroup
                .get('contractEndDate')
                ?.hasError('matDatepickerFilter')
            "
          >
            Contract End Date is in the past. Please choose a new date.
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="field-container">
      <div class="inline-field">
        <div style="display: flex; align-items: center; gap: 4px">
          <p style="margin: 0">
            Choose who will be the Decision Maker(s) on this solicitation.
          </p>
          <mat-icon
            style="font-size: medium; color: #0b74fd; cursor: pointer"
            [appTooltip]="decisionMakerTooltip"
          >
            info_outline
          </mat-icon>
        </div>
        <div formArrayName="dropdowns">
          <div
            *ngFor="let dropdown of dropdowns.controls; let i = index"
            [formGroupName]="i"
          >
            <div class="form-with-button">
              <mat-form-field appearance="fill" class="input-width">
                <mat-label>Decision Maker</mat-label>
                <mat-select
                  formControlName="decisionMaker"
                  placeholder="Choose Decision Maker"
                >
                  <mat-option
                    *ngFor="let decisionMaker of getFilteredDecisionMakers(i)"
                    [value]="decisionMaker.decisionMakerId"
                  >
                    {{ decisionMaker.firstName }} {{ decisionMaker.lastName }}
                  </mat-option>
                </mat-select>
                <mat-error
                  *ngIf="dropdown?.get('decisionMaker')?.hasError('required')"
                >
                  Decision Maker is required.
                </mat-error>
              </mat-form-field>

              <button
                *ngIf="i > 0"
                mat-icon-button
                aria-label="delete"
                type="button"
                color="warn"
                style="margin-bottom: 20px"
                (click)="removeDropdown(i)"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="inline-field"></div>
    </div>
    <button
      mat-raised-button
      style="margin-bottom: 8px; margin-top: 8px"
      color="primary"
      type="button"
      [disabled]="isLastDecisionMakerEmpty()"
      (click)="addDropdown()"
    >
      Add Decision Maker
    </button>
  </div>
</form>
