.input-width {
    width: 100%;
}

.single-input-width {
    width: 49%;
}

.field-container {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.inline-field {
    flex: 1;
    min-width: 200px;
}

.form-with-button {
    display: flex;
    align-items: center;
    gap: 8px;
  }