
<div class="navbar">
    <a routerLink="/dashboard-component/request-outframe-component/request-basic-component" routerLinkActive="router-link-active" ariaCurrentWhenActive="page">Basics</a>  
    <a routerLink="/dashboard-component/request-outframe-component/request-overview-component" routerLinkActive="router-link-active" ariaCurrentWhenActive="page">Proposals</a> 
    <a routerLink="/dashboard-component/request-outframe-component/request-requireddocuments-component" routerLinkActive="router-link-active" ariaCurrentWhenActive="page">Documents</a>
    <a routerLink="/dashboard-component/request-outframe-component/request-review-component" routerLinkActive="router-link-active" ariaCurrentWhenActive="page">Review</a>   
  </div>

  <div class="main">
      <router-outlet></router-outlet>
  </div>

  
 