  .field-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 16px;
  }

  .inline-field {
    flex: 1 1 300px;
    min-width: 300px;
    max-width: 500px;
  }

  .input-width {
    width: 80%;
  }