

<form [formGroup]="newRequestForm" (ngSubmit)="onSubmit()">
  <p>Overview</p>
  <textarea id="overview" name="w3review" rows="14" cols="70">
  <p>Upload your own project overview file</p>
  
  <app-single-file-upload></app-single-file-upload>

  <button type="submit" [disabled]="newRequestForm.invalid">Login</button>

  <p>Goals</p>
  <textarea id="overview" name="w3review" rows="14" cols="70">
  <p>Upload your own project overview file</p>
  <button type="submit" [disabled]="newRequestForm.invalid">Login</button>

  <p>Scope</p>
  <textarea id="scope" name="w3review" rows="14" cols="70">
  <p>Upload your own project overview file</p>
  <button type="submit" [disabled]="newRequestForm.invalid">Login</button>

  <p>Requirements</p>
  <textarea id="project overview" name="w3review" rows="14" cols="70">
  <p>Upload your own requirements file</p>
  <button type="submit" [disabled]="newRequestForm.invalid">Login</button>

  <p> Upload your Request by clicking on the add request button or press continue </p>
</form>



