<div class="button-container">
    <div class="buttons">
        <button mat-fab color="" extended *ngIf="!isEditMode" (click)="onEdit()">
            <mat-icon>edit</mat-icon>
            Edit
        </button>

        <button mat-fab color="primary" extended *ngIf="isEditMode" (click)="onSave()">
            <mat-icon>save</mat-icon>
            Save
        </button>
    </div>
</div>

<div>
    <div *ngFor="let proposalSection of proposalSections">
        <h3 *ngIf="!isEditMode">{{proposalSection.requestSectionTitle}}</h3>
        <mat-form-field appearance="outline" *ngIf="isEditMode">
            <mat-label>{{proposalSection.requestSectionTitle}}</mat-label>
            <input matInput [(ngModel)]="proposalSection.requestSectionTitle">
        </mat-form-field>

        <!-- Description textarea: set to readonly based on edit mode -->
    <mat-form-field class="full-width">
        <mat-label *ngIf="isEditMode">Enter description</mat-label>
        <textarea 
          matInput 
          id="overview" 
          name="w3review" 
          rows="4" 
          [(ngModel)]="proposalSection.requestSectionContent"
          [readonly]="!isEditMode" 
         >
        </textarea>
      </mat-form-field>
        <hr class="propsal-divider" />
    </div>
</div>
<button mat-fab color="primary" style="margin-bottom: 16px;" extended *ngIf="isEditMode" (click)="addSection()">
    <mat-icon>add</mat-icon>
    Add Section
</button>