<form [formGroup]="requestFinalReviewDetailsForm" (ngSubmit)="onSubmit()">
  <h2>Please review the following selections before submitting your request:</h2>

  <div class="field-container">
    <div class="inline-field">
      <p>Category:</p>
      <mat-form-field appearance="fill" class="input-width">
        <input matInput formControlName="category" readonly placeholder="Chosen Category"
          value={{requestFinalReviewDetails.category?.categoryName}}>
      </mat-form-field>
    </div>

    <div class="inline-field">
      <p>Subcategory:</p>
      <mat-form-field appearance="fill" class="input-width">
        <input matInput formControlName="subcategory" readonly placeholder="Chosen Subcategory"
          value={{requestFinalReviewDetails.subCategory?.subCategoryName}}>
      </mat-form-field>
    </div>

    <div class="inline-field">
      <p>Request Type:</p>
      <mat-form-field appearance="fill" class="input-width">
        <input matInput formControlName="requestType" readonly placeholder="Chosen Request Type"
          value={{requestFinalReviewDetails.requestType?.requestTypeDesc}}>
      </mat-form-field>
    </div>
  </div>

  <h2>Request Details</h2>

  <div class="field-container">
    <div class="inline-field">
      <p>Request Name:</p>
      <mat-form-field appearance="fill" class="input-width">
        <input matInput formControlName="requestName" readonly placeholder="Chosen Request Name"
          value={{requestFinalReviewDetails.requestName}}>
      </mat-form-field>
    </div>
  </div>

  <div class="field-container">
    <div class="inline-field">
      <p>Publish Date:</p>
      <mat-form-field appearance="fill" class="input-width">
        <input matInput formControlName="publishDate" readonly placeholder="Chosen Publish Date"
          value={{requestFinalReviewDetails.publishDate}}>
      </mat-form-field>
    </div>

    <div class="inline-field">
      <p>Publish Time:</p>
      <mat-form-field appearance="fill" class="input-width">
        <input matInput formControlName="publishTime" readonly placeholder="Chosen Publish Time"
          value={{requestFinalReviewDetails.publishTime}}>
      </mat-form-field>
    </div>
  </div>

  <div class="field-container">
    <div class="inline-field">
      <p>Open Date:</p>
      <mat-form-field appearance="fill" class="input-width">
        <input matInput formControlName="openDate" readonly placeholder="Chosen Open Date"
          value={{requestFinalReviewDetails.openDate}}>
      </mat-form-field>
    </div>

    <div class="inline-field">
      <p>Open Time:</p>
      <mat-form-field appearance="fill" class="input-width">
        <input matInput formControlName="openTime" readonly placeholder="Chosen Open Time"
          value={{requestFinalReviewDetails.openTime}}>
      </mat-form-field>
    </div>
  </div>

  <div class="field-container">
    <div class="inline-field">
      <p>Contract Start:</p>
      <mat-form-field appearance="fill" class="input-width">
        <input matInput formControlName="contractStart" readonly placeholder="Chosen Contract Start"
          value={{requestFinalReviewDetails.contractStart}}>
      </mat-form-field>
    </div>

    <div class="inline-field">
      <p>Contract End:</p>
      <mat-form-field appearance="fill" class="input-width">
        <input matInput formControlName="contractEnd" readonly placeholder="Chosen Contract End"
          value={{requestFinalReviewDetails.contractEnd}}>
      </mat-form-field>
    </div>
  </div>

  <div class="field-container">
    <div *ngFor="let decisionMaker of requestFinalReviewDetails.decisionMakers; let i = index" class="inline-field">
      <p *ngIf="i === 0">Decision Makers:</p>
      <p *ngIf="i > 0" style="visibility: hidden;">&nbsp;</p>
      <mat-form-field appearance="fill" class="input-width">
        <input matInput readonly placeholder="Chosen Decision Maker(s)" [value]="decisionMaker.decisionMakerName">
      </mat-form-field>
    </div>
  </div>

  <div>
    <h3>Notarization Method</h3>
    <mat-checkbox [checked]="true" [disabled]="true">
      Mail In By Close Date/Time- This means that the proposer will
      need to mail all notarized forms separately from their submission
      through Munivendor. The proposer will label the original documents
      with a corresponding and unique proposal submission reference
      number that will be given to the proposer upon proposal submission.
    </mat-checkbox>
  </div>

  <br>

  <h2>The Bid Checklist that proposers will complete for this opportunity will include a list of the following forms. Any documents that require notarization will be digitally notarized and included in the proposer’s submission.</h2>
  <div *ngFor="let requestDocument of requestFinalReviewDetails.requestDocuments">
    <mat-checkbox [checked]="true" [disabled]="true"> {{
      requestDocument.documentName }}</mat-checkbox>
  </div>

  <br />

  <!-- this note displays ONLY if user has not uploaded any documents for municipality -->
  <p>Note: You have not uploaded/selected any additional documents.</p>

  <h2>You have uploaded the following request:</h2>
  <!-- the PDF of the proposals step (all sections that have been filled out by user compiled into a PDF) -->
  <p>proposal.pdf?</p>
</form>