

<form [formGroup]="newRequestForm" (ngSubmit)="onSubmit()">
  <p> New Request</p>
  <br>
  <div>
    <select formControlName="requestType" class="form-control">  
      <option>Choose Request Type</option>  
      <option *ngFor="let requestType of requestTypes">{{requestType}}</option>  
  </select>  
          <div *ngIf="newRequestForm.get('requestType')?.invalid && newRequestForm.get('requestType')?.touched">
            <div *ngIf="newRequestForm.get('requestType')?.errors?.['required']">Request Type is required.</div>
          </div>
  </div>

  <div>
    <select formControlName="subcategory" class="form-control">  
      <option>Choose subcategory</option>  
      <option *ngFor="let subcategory of subcategories">{{subcategory}}</option>  
  </select>  
    <div *ngIf="newRequestForm.get('subcategory')?.invalid && newRequestForm.get('subcategory')?.touched">
      <div *ngIf="newRequestForm.get('subcategory')?.errors?.['required']">Subcategory is required.</div>
    </div>
  </div>
  <div>
    <input type="text" id="rcorners1" formControlName="specificRequestType">
      <div *ngIf="newRequestForm.get('specificRequestType')?.invalid && newRequestForm.get('specificRequestType')?.touched">
        <div *ngIf="newRequestForm.get('specificRequestType')?.errors?.['required']">Lastname is required.</div>
      </div>
  </div>
  <div>
  <input type="date" id="rcorners1"  formControlName="publishDate">
  </div>
  <div>
  <input type="time" id="rcorners1" formControlName="publishTime" >
  </div>
  <div>
    <input type="date" id="rcorners1"  formControlName="openDate">
  </div>
  <div>
    <input type="time" id="rcorners1"  formControlName="openTime">
  </div>
  <div>
    <input type="text" id="term"  formControlName="term">
  </div>
  <div>
    <select formControlName="decisionMaker" class="form-control">  
      <option>Choose Decision Maker</option>  
      <option *ngFor="let decisionMaker of decisionMakers">{{decisionMaker}}</option>  
  </select>  
  <div *ngIf="newRequestForm.get('decisionMaker')?.invalid && newRequestForm.get('decisionMaker')?.touched">
    <div *ngIf="newRequestForm.get('decisionMaker')?.errors?.['required']">Decision Maker is required.</div>
  </div>
  </div>
      <br>
      <br>
      <br>
  <div>
  <a [routerLink]="['/second-component']" routerLinkActive="router-link-active" >continue </a>
  <button type="submit" [disabled]="newRequestForm.invalid">Login</button>
  </div>
</form>



