<form [formGroup]="requestFinalReviewDetailsForm" (ngSubmit)="onSubmit()">
  <h2>Please review the following selections before submitting your request:</h2>

  <div class="field-container">
    <div class="inline-field">
      <p>Request Type:</p>
      <mat-form-field appearance="fill" class="input-width">
        <input matInput formControlName="requestType" readonly placeholder="Chosen Request Type"
          value={{requestFinalReviewDetails.requestType}}>
      </mat-form-field>
    </div>

    <div class="inline-field">
      <p>Subcategory:</p>
      <mat-form-field appearance="fill" class="input-width">
        <input matInput formControlName="subcategory" readonly placeholder="Chosen Subcategory"
          value={{requestFinalReviewDetails.subcategory}}>
      </mat-form-field>
    </div>

    <div class="inline-field">
      <p>Specific Request Type:</p>
      <mat-form-field appearance="fill" class="input-width">
        <input matInput formControlName="specificRequestType" readonly placeholder="Chosen Specific Request Type"
          value={{requestFinalReviewDetails.specificRequestTypes}}>
      </mat-form-field>
    </div>
  </div>

  <h2>Request Details</h2>

  <div class="field-container">
    <div class="inline-field">
      <p>Publish Date:</p>
      <mat-form-field appearance="fill" class="input-width">
        <input matInput formControlName="publishDate" readonly placeholder="Chosen Publish Date"
          value={{requestFinalReviewDetails.publishDate}}>
      </mat-form-field>
    </div>

    <div class="inline-field">
      <p>Publish Time:</p>
      <mat-form-field appearance="fill" class="input-width">
        <input matInput formControlName="publishTime" readonly placeholder="Chosen Publish Time"
          value={{requestFinalReviewDetails.publishTime}}>
      </mat-form-field>
    </div>
  </div>

  <div class="field-container">
    <div class="inline-field">
      <p>Open Date:</p>
      <mat-form-field appearance="fill" class="input-width">
        <input matInput formControlName="openDate" readonly placeholder="Chosen Open Date"
          value={{requestFinalReviewDetails.openDate}}>
      </mat-form-field>
    </div>

    <div class="inline-field">
      <p>Open Time:</p>
      <mat-form-field appearance="fill" class="input-width">
        <input matInput formControlName="openTime" readonly placeholder="Chosen Open Time"
          value={{requestFinalReviewDetails.openTime}}>
      </mat-form-field>
    </div>
  </div>

  <div class="field-container">
    <div class="inline-field">
      <p>Term:</p>
      <mat-form-field appearance="fill" class="input-width">
        <input matInput formControlName="term" readonly placeholder="Chosen Term"
          value={{requestFinalReviewDetails.term}}>
      </mat-form-field>
    </div>
  </div>

  <div class="field-container">
    <div *ngFor="let decisionMaker of requestFinalReviewDetails.decisionMakers; let i = index" class="inline-field">
      <p *ngIf="i === 0">Decision Makers:</p>
      <p *ngIf="i > 0" style="visibility: hidden;">&nbsp;</p>
      <mat-form-field appearance="fill" class="input-width">
        <input matInput readonly placeholder="Chosen Decision Maker(s)" [value]="decisionMaker.name">
      </mat-form-field>
    </div>
  </div>

  <div>
    <h3>Notarization Method</h3>
    <mat-checkbox [checked]="true" [disabled]="true">
      Mail In By Close Date/Time- This means that the proposer will
      need to mail all notarized forms separately from their submission
      through Munivendor. The proposer will label the original documents
      with a corresponding and unique proposal submission reference
      number that will be given to the proposer upon proposal submission.
    </mat-checkbox>
  </div>

  <br>

  <h2>Document Details</h2>
  <div *ngFor="let requiredDocument of requestFinalReviewDetails.requiredDocuments">
    <mat-checkbox [checked]="true" [disabled]="true"> {{
      requiredDocument }}</mat-checkbox>
  </div>

  <br />
  <p>Note: You did not upload any additional documents</p>

  <h2>You have uploaded the following request:</h2>
  <p>proposal.pdf?</p>
</form>