<mat-card>
  <mat-card-title>Let's setup your account!</mat-card-title>
  <mat-card-content>
    <form [formGroup]="municipalityDetailForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Municipality Name</mat-label>
        <input matInput formControlName="municipalityName" required placeholder="enter Municipality">
        <mat-error *ngIf="municipalityDetailForm.get('municipalityName')?.hasError('required')">
          Municipality Name is required.
        </mat-error>
        <mat-error *ngIf="municipalityDetailForm.get('municipalityName')?.hasError('minlength')">
          Municipality Name must be at least 3 characters long.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Address</mat-label>
        <input matInput formControlName="municipalityAddress" required placeholder="enter Address">
        <mat-error *ngIf="municipalityDetailForm.get('address')?.hasError('required')">
          Address is required.
        </mat-error>
        <mat-error *ngIf="municipalityDetailForm.get('municipalityAddress')?.hasError('minlength')">
          Address must be at least 3 characters long.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>City</mat-label>
        <input matInput formControlName="municipalityCity" required placeholder="enter City">
        <mat-error *ngIf="municipalityDetailForm.get('municipalityCity')?.hasError('required')">
          City is required.
        </mat-error>
        <mat-error *ngIf="municipalityDetailForm.get('municipalityCity')?.hasError('minlength')">
          City must be at least 3 characters long.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>State</mat-label>
        <mat-select formControlName="municipalityState" required>
          <mat-option *ngFor="let state of states" [value]="state">
            {{ state }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="municipalityDetailForm.get('municipalityState')?.hasError('required')">
          State is required.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>ZipCode</mat-label>
        <input matInput formControlName="municipalityZipCode" required placeholder="enter ZipCode">
        <mat-error *ngIf="municipalityDetailForm.get('municipalityZipCode')?.hasError('required')">
          ZipCode is required.
        </mat-error>
        <mat-error *ngIf="municipalityDetailForm.get('municipalityZipCode')?.hasError('minlength')">
         Zip must be at least 5 characters long.
        </mat-error>
      </mat-form-field>
      

      <button mat-raised-button color="primary" type="submit" [disabled]="!municipalityDetailForm.valid">Submit</button>
    </form>
  </mat-card-content>
</mat-card>
